<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- bootstrap css파일 로딩 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

<!-- common에 적용되는 css파일 -->
<link rel="stylesheet" href="/css/common.css">

<!-- 해당 html css파일 -->
<link rel="stylesheet" href="/css/content/login/login_page.css">

</head>
<body>
	<div class="login_backgroung">
	</div>
	<div class="login_input">
		<div class="row mt-4">
			<div class="col-1"></div>
			<div class="col-3 px-0 text-start">
				<img alt="로고" src="/image/khLogo2.png" width="80%">
			</div>	
			<div class="col-8 text-start align-self-center login_page_title">
				학사행정웹서비스
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-1"></div>
			<th:block th:if="${param.lang == null}">
				<div class="col-1 bd_bottom">
					<a href="?lang=kr">KR</a>
				</div>
				<div class="col-1">
					<a href="?lang=en">EN</a>
				</div>
			</th:block>
			<th:block th:unless="${param.lang == null}">
				<div class="col-1"  th:classappend='${param.lang.toString == "ko" ? "bd_bottom" : ""}'>
					<a href="?lang=ko">KR</a>
				</div>
				<div class="col-1"  th:classappend='${param.lang.toString == "en" ? "bd_bottom" : ""}'>
					<a href="?lang=en">EN</a>
				</div>
			</th:block>
			<div class="col-9"></div>
		</div>
		<div class="row mt-3">
			<div class="col-1"></div>
			<div class="col-4 px-0">
				<div class="input_id mb-1">
					<input class="form-control" type="text" name="memNo" id="memNo" th:placeholder="#{memNo.placeholder}">
				</div>
				<div class="input_pw">
					<input class="form-control" type="password" name="memPw" id="memPw" th:placeholder="#{memPw.placeholder}">
				</div>
				<div class="log_error" style="height: 1.5rem;">
				</div>
			</div>
			<div class="col-1">
				<input onclick='login()' class="btn btn-primary login_btn" id="login_btn" type="submit" th:value="#{login_btn.value}">
			</div>
			<div class="col-6">
			</div>
		</div>
		<div class="row iuput_info">
			<div class="col-1"></div>
			<div class="col-5 mt-3">
				<span data-bs-toggle="modal" data-bs-target="#findIdModal" th:text="#{find_id}" style="cursor: pointer;"></span>
				<span data-bs-toggle="modal" data-bs-target="#findPwModal"  th:text="#{find_pw}" style="cursor: pointer;"></span>
			</div>
		</div>
		<div class="row sub_menu mt-5 text-start">
			<div class="col-1"></div>
			<div class="col-11">
				<span id="main_homepage" th:text="#{main_homepage}"></span>
				<span id="remote_support" th:text="#{remote_support}"></span>		
				
			</div>
		</div>
	</div>
	<div class="login_footer text-start">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-11">
				<span id="footer1" th:text="#{footer1}"></span>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;</span> 
				<span id="footer2" th:text="#{footer2}"></span>
			</div>
		</div>
	</div>

	<!-- FIND ID Modal -->
	<div class="modal fade" id="findIdModal" data-bs-keyboard="false"
		data-backdrop="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" id="findIdModalBody"
					style="text-align: center;">
					<form th:action="@{/member/findId}" method="post" class="row g-3"
						id="findIdForm">
						<div class="col-12">
							<input type="text" class="form-control" id="memName" name="memName"
								placeholder="이름을 입력해주세요">
						</div>
						<div class="col-12" id="error_find_id_div">
							<input type="text" class="form-control" id="memEmail"
								name="memEmail" placeholder="이메일을 입력하여주세요">
						</div>
						<div class="col-12 text-start">
							<ul class="note">
								<li>개인정보 유출에 유의하시기 바랍니다.</li>
								<li>이름은 띄어쓰기 없이 입력해주세요.</li>
								<li>이메일은 @포함 전체다 입력해주세요.</li>
								<li>입력한 이메일 정보가 기억나지 않을 경우 소속학과 또는 소속대학원 사무실에 문의하시기 바랍니다.</li>
							</ul>
						</div>
						<div class="col-12 d-grid">
							<button id="button" class="btn btn-primary" type="button"
								onclick='findId();'>
								<span>아이디 찾기</span>
								
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- FIND Pw Modal -->
	<div class="modal fade" id="findPwModal" data-bs-keyboard="false"
		data-backdrop="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" id="findPwModalBody"
					style="text-align: center;">
					<form th:action="@{/member/findPw}" method="post" class="row g-3"
						id="findPwForm">
						<div class="col-12">
							<input type="text" class="form-control" id="memNo" name="memNo"
								placeholder="학번 또는 교직원번호를 입력하여 주세요">
						</div>
						<div class="col-12" id="error_find_pw_div">
							<input type="text" class="form-control" id="memEmail"
								name="memEmail" placeholder="이메일을 입력하여주세요">
						</div>
						<div class="col-8" id="error_find_pw_div">
							<input type="text" class="form-control" id="memTell"
								name="memTell" maxlength="13" oninput="autoHyphen2(this)" placeholder="휴대폰 번호를 입력하여주세요(-제외)">
						</div>
						<div class="col-4 d-grid">
							<button type="button" class="btn btn-primary" onclick="tellAutho()">
								인증번호 받기
							</button>
						</div>
						<div class="col-8" id="error_find_pw_div">
							<input type="text" class="form-control" id="authNum"
								placeholder="인증번호를 입력하여주세요">
						</div>
						<div class="col-4 d-grid">
							<button type="button" id="tell_auth" class="btn btn-primary" onclick="auth_sms()" disabled>
								인증하기
							</button>
						</div>
						<div class="col-12 text-start">
							<ul class="note">
								<li>개인정보 유출에 유의하시기 바랍니다.</li>
								<li>이메일은 @포함 전체다 입력해주세요.</li>
								<li>입력한 이메일 정보가 기억나지 않을 경우 소속학과 또는 소속대학원 사무실에 문의하시기 바랍니다.</li>
							</ul>
						</div>
						<div class="col-12 d-grid">
							<button id="findPwBtn" class="btn btn-primary" type="button"
								onclick='findPw();' disabled>
								<span>비밀번호 찾기</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- login_page js파일 로딩 -->
	<script type="text/javascript" src="/js/content/login/login_page.js"></script>
	
	<!-- jquery 문법 로딩 -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>

	<!-- sweetalert 파일 로딩 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<!-- bootstrap js파일 로딩 -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous">
	</script>
	
</body>
</html>