@charset "UTF-8";

.detail_board_info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #897c76;
    border-bottom: 1px solid #897c76;
    margin: 10px 0;
    background: #ebe7e3;
    overflow: hidden;
    padding: 6px 6px 1px 6px;
}

.total_board, .table-custom{
	 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	  background: linear-gradient(45deg, #f5f5f5, #ebebeb);
	  border-collapse: separate;
  border-spacing: 4px;
  border: 1px solid #ccc;
}

table.detail_board_info{
	width: 100%;
	margin: 10px;
	padding: 10px;
	
}
table.detail_board_info td{
	margin: 10px;
	padding: 5px;
}

table.detail_board_info{
	width: 100%;
}

table.detail_board_info input{
	background-color: #D3D3D3;
}
table.detail_board_info td{
	width: 100px;
	padding: 5px;
}
#writeModal input[type="text"]{
	width: 140px;
	border-radius: 4px;
}


.title{
	font-size: 20px;
	font-weight: bold;
}


.replyColor{
	font-size: 15px;
	color: purple;
	font-weight: bold;
}

.order{
	text-align: left;
}
.boardWriterGoSize{
	text-align:  center;
}
.boardWriteGo{
	width: 100px;
	height: 50px;
	
}

.boardWriters{
	text-align: left;
	
}


#my-scroll{
	height: 530px;	
	overflow-y: scroll;

}

