<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	<resultMap type="com.study.test.admin.vo.AdminMenuVO" id="adminMenu">
		<result column="MENU_CODE" 	property="menuCode"/>
		<result column="MENU_NAME" 	property="menuName"/>
		<result column="MENU_URL" 	property="menuUrl"/>
	</resultMap>
	
	<resultMap type="com.study.test.admin.vo.AdminSubMenuVO" id="adminSubMenu">
		<result column="SUB_MENU_CODE" 	property="subMenuCode"/>
		<result column="SUB_MENU_NAME" 	property="subMenuName"/>
		<result column="SUB_MENU_URL" 	property="subMenuUrl"/>
		<result column="MENU_CODE" 		property="menuCode"/>
	</resultMap>
	
	<resultMap type="com.study.test.admin.vo.EmpVO" id="emp">
		<result column="EMP_NO" 	property="empNo"/>
		<result column="EMP_TYPE" 	property="empType"/>
		<result column="DEPT_NO" 	property="deptNo"/>
		<result column="MEM_NO" 	property="memNo"/>
		<result column="MEM_NAME" 	property="memName"/>
		<result column="COLL_NO" 	property="collNo"/>
	</resultMap>
	
	<resultMap type="com.study.test.school.dept.DeptManageVO" id="deptManage">
		<result column="APPLY_NO"						property="applyNo"/>
		<result column="STU_NO" 						property="stuNo"/>
		<result column="APPLY_CODE" 					property="applyCode"/>
		<result column="APPLY_DATE" 					property="applyDate"/>
		<result column="APPLY_REASON" 					property="applyReason"/>
		<result column="APPLROVAL_DATE" 				property="applrovalDate"/>
		<result column="PROCESS_STATUS" 				property="processStatus"/>
		<result column="FROM_COLL" 						property="fromColl"/>
		<result column="TO_COLL" 						property="toColl"/>
		<result column="FROM_DEPT" 						property="fromDept"/>
		<result column="TO_DEPT" 						property="toDept"/>
		<result column="DOUBLE_MAJOR_COLL" 				property="doubleMajorColl"/>
		<result column="DOUBLE_MAJOR_DEPT"  			property="doubleMajorDept"/>
		<result column="STU_YEAR" 						property="stuYear"/>
		<result column="STU_SEM" 						property="stuSem"/>
		<result column="FROM_COLL_NAME" 				property="fromCollName"/>
		<result column="TO_COLL_NAME" 					property="toCollName"/>
		<result column="FROM_DEPT_NAME" 				property="fromDeptName"/>
		<result column="TO_DEPT_NAME" 					property="toDeptName"/>
		<result column="DOUBLE_MAJOR_COLL_NAME" 		property="doubleMajorCollName"/>
		<result column="DOUBLE_MAJOR_DEPT_NAME" 		property="doubleMajorDeptName"/>
		<association property="stuVO" 					resultMap="stuMapper.stu"/>
		<association property="memberVO" 				resultMap="memberMapper.member"/>
	</resultMap>

	
	<select id="getAdminMenuList" resultMap="adminMenu">
		SELECT MENU_CODE
			, MENU_NAME
			, MENU_URL
		FROM ADMIN_MENU
	</select>
	
	<select id="getAdminSubMenuList" resultMap="adminSubMenu">
		SELECT SUB_MENU_CODE
			, SUB_MENU_NAME
			, SUB_MENU_URL
			, MENU_CODE
		FROM ADMIN_SUB_MENU
		WHERE MENU_CODE = #{menuCode}
	</select>
	
	<insert id="regStu">
		INSERT INTO UNI_STU (
			STU_NO
			, COLL_NO
			, DEPT_NO
			, DOUBLE_NO
			, STU_YEAR
			, STU_SEM
			, STU_STATUS
			, MEM_NO
			, PARENT_NAME
			, PARENT_TELL
			, STU_BANK_NAME
			, STU_BANK_ACCOUNT			
		) VALUES (
			#{stuNo}
			, #{collNo}
			, #{deptNo}
			, #{doubleNo}
			, #{stuYear}
			, #{stuSem}
			, #{stuStatus}
			, #{memNo}
			, #{parentName}
			, #{parentTell}
			, #{stuBankName}
			, #{stuBankAccount}
		)
	</insert>
	
	<insert id="regEmp">
		INSERT INTO UNI_EMP (
			EMP_NO
			, EMP_TYPE
			, DEPT_NO
			, MEM_NO
			, COLL_NO
		) VALUES (
			#{empNo}
			, #{empType}
			, #{deptNo}
			, #{memNo}
			, #{collNo}
		)
	</insert>
	<!-- 전과 신청자 리스트  -->
	<select id="getDeptManageList" resultMap="deptManage">
		SELECT APPLY_NO
			, MEM.MEM_NAME AS MEM_NAME
            , MEM.MEM_NO AS MEM_NO
			, APPLY_CODE
			, TO_CHAR(APPLY_DATE, 'YYYY-MM-DD') AS APPLY_DATE
			, APPLY_REASON
			, TO_CHAR(APPLROVAL_DATE, 'YYYY-MM-DD') AS APPLROVAL_DATE
			, PROCESS_STATUS
			, FROM_COLL
            , (SELECT COLL_NAME
                FROM COLLEAGE
                WHERE DEPT.FROM_COLL= COLLEAGE.COLL_NO) AS FROM_COLL_NAME
			, TO_COLL
            , (SELECT COLL_NAME
                FROM COLLEAGE
                WHERE DEPT.TO_COLL= COLLEAGE.COLL_NO) AS TO_COLL_NAME
			, FROM_DEPT
            , (SELECT DEPT_NAME
                FROM DEPT
                WHERE DEPT.FROM_DEPT= DEPT.DEPT_NO) AS FROM_DEPT_NAME
            , TO_DEPT
            , (SELECT DEPT_NAME
                FROM DEPT
                WHERE DEPT.TO_DEPT= DEPT.DEPT_NO) AS TO_DEPT_NAME
			, DOUBLE_MAJOR_COLL
            , (SELECT COLL_NAME
                FROM COLLEAGE
                WHERE DEPT.DOUBLE_MAJOR_COLL = COLLEAGE.COLL_NO) AS DOUBLE_MAJOR_COLL_NAME
			, DOUBLE_MAJOR_DEPT
            , (SELECT DOUBLE_DEPT_NAME
            FROM DOUBLE_MAJOR
            WHERE DEPT.DOUBLE_MAJOR_DEPT = DOUBLE_MAJOR.DOUBLE_NO) AS DOUBLE_MAJOR_DEPT_NAME
			, DEPT.STU_YEAR
			, DEPT.STU_SEM
		FROM DEPT_MANAGE DEPT, UNI_MEMBER MEM, UNI_STU STU
		WHERE MEM.MEM_NO = STU.MEM_NO
        AND DEPT.STU_NO = STU.STU_NO
	</select>
	
	<!-- 전과 신청자 조회 쿼리  -->
	<select id="getDeptManageData" resultMap="deptManage">
		SELECT APPLY_NO
			, MEM.MEM_NAME AS MEM_NAME
            , MEM.MEM_NO AS MEM_NO
			, APPLY_CODE
			, TO_CHAR(APPLY_DATE, 'YYYY-MM-DD') AS APPLY_DATE
			, APPLY_REASON
			, TO_CHAR(APPLROVAL_DATE, 'YYYY-MM-DD') AS APPLROVAL_DATE
			, PROCESS_STATUS
			, FROM_COLL
            , (SELECT COLL_NAME
                FROM COLLEAGE
                WHERE DEPT.FROM_COLL= COLLEAGE.COLL_NO) AS FROM_COLL_NAME
			, TO_COLL
            , (SELECT COLL_NAME
                FROM COLLEAGE
                WHERE DEPT.TO_COLL= COLLEAGE.COLL_NO) AS TO_COLL_NAME
			, FROM_DEPT
            , (SELECT DEPT_NAME
                FROM DEPT
                WHERE DEPT.FROM_DEPT= DEPT.DEPT_NO) AS FROM_DEPT_NAME
            , TO_DEPT
            , (SELECT DEPT_NAME
                FROM DEPT
                WHERE DEPT.TO_DEPT= DEPT.DEPT_NO) AS TO_DEPT_NAME
			, DOUBLE_MAJOR_COLL
            , (SELECT COLL_NAME
                FROM COLLEAGE
                WHERE DEPT.DOUBLE_MAJOR_COLL = COLLEAGE.COLL_NO) AS DOUBLE_MAJOR_COLL_NAME
			, DOUBLE_MAJOR_DEPT
            , (SELECT DOUBLE_DEPT_NAME
            FROM DOUBLE_MAJOR
            WHERE DEPT.DOUBLE_MAJOR_DEPT = DOUBLE_MAJOR.DOUBLE_NO) AS DOUBLE_MAJOR_DEPT_NAME
			, DEPT.STU_YEAR
			, DEPT.STU_SEM
		FROM DEPT_MANAGE DEPT, UNI_MEMBER MEM, UNI_STU STU
		WHERE MEM.MEM_NO = STU.MEM_NO
        AND DEPT.STU_NO = STU.STU_NO
        AND APPLY_NO = #{applyNo}
	</select>
	<!-- 신청학생 데이터 -->
	<select id="getMemInfo" resultMap="memberMapper.member">
		SELECT STU_NO
			, MEM_NAME
			, MEM_TELL
			, MEM_ADDR
			, ATTACHED_FILE_NAME
			, MEM.MEM_NO
			, TO_CHAR(MEM_BIRTH, 'YYYY-MM-DD') AS MEM_BIRTH
			, MEM_ADDR_DETAIL
            , STU_STATUS
            , STU_YEAR
            , STU_SEM
		FROM UNI_MEMBER MEM, UNI_STU STU, MEM_IMG IMG
		WHERE STU.MEM_NO = MEM.MEM_NO
		AND IMG.MEM_NO = MEM.MEM_NO
		AND MEM.MEM_NO = #{memNo}
	</select>
	
	
	
</mapper>


























