<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<!-- 학생 메뉴  -->
	<resultMap type="com.study.test.member.vo.MemberVO" id="member">
		<id column="MEM_NO" 			property="memNo"/>
		<result column="MEM_PW" 			property="memPw"/>
		<result column="MEM_NAME" 			property="memName"/>
		<result column="MEM_EMAIL" 			property="memEmail"/>
		<result column="MEM_ADDR" 			property="memAddr"/>
		<result column="MEM_ADDR_DETAIL" 	property="memAddrDetail"/>
		<result column="MEM_TELL" 			property="memTell"/>
		<result column="MEM_IMAGE" 			property="memImage"/>
		<result column="MEM_GENDER" 		property="memGender"/>
		<result column="MEM_BIRTH" 			property="memBirth"/>
		<result column="MEM_ROLE" 			property="memRole"/>
	</resultMap>
	
	<insert id="regMember">
		INSERT INTO UNI_MEMBER (
				MEM_NO
				, MEM_PW
				, MEM_NAME
				, MEM_EMAIL
				, MEM_ADDR
				, MEM_ADDR_DETAIL
			<if test='memTell != null and !memTell.equals("")'>	
				, MEM_TELL
			</if>
			<if test='memImage != null and !memImage.equals("")'>
				, MEM_IMAGE
			</if>
				, MEM_GENDER
				, MEM_BIRTH
				, MEM_ROLE
		) VALUES(
				#{memNo}
				, #{memPw}
				, #{memName}
				, #{memEmail}
				, #{memAddr}
				, #{memAddrDetail}
			<if test='memTell != null and !memTell.equals("")'>	
				, #{memTell}
			</if>
			<if test='memImage != null and !memImage.equals("")'>	
				, #{memImage}
			</if>
				, #{memGender}
				, #{memBirth}
				, #{memRole}	
		)
		
	
	</insert>
	
	
</mapper>


























