<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<!-- 학생 메뉴  -->
	<resultMap type="com.study.test.member.vo.MemberVO" id="member">
		<id column="MEM_NO" 			property="memNo"/>
		<result column="MEM_PW" 			property="memPw"/>
		<result column="MEM_NAME" 			property="memName"/>
		<result column="MEM_EMAIL" 			property="memEmail"/>
		<result column="MEM_ADDR" 			property="memAddr"/>
		<result column="MEM_ADDR_DETAIL" 	property="memAddrDetail"/>
		<result column="MEM_TELL" 			property="memTell"/>
		<result column="MEM_IMAGE" 			property="memImage"/>
		<result column="MEM_GENDER" 		property="memGender"/>
		<result column="MEM_BIRTH" 			property="memBirth"/>
		<result column="MEM_ROLE" 			property="memRole"/>
		<association property="memImgVO" resultMap="memImg"/>
		<association property="stuVO" resultMap="stuMapper.stu"/>
	</resultMap>
	<resultMap type="com.study.test.member.vo.MemImgVO" id="memImg">
		<id 	column="IMG_CODE" 			property="imgCode"/>
		<result column="ORIGIN_FILE_NAME" 	property="originFileName"/>
		<result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
		<result column="IS_MAIN" 			property="isMain"/>
		<result column="MEM_NO" 			property="memNo"/>
	</resultMap>
	
	<!-- 회원 정보 조회 -->
	<select id="getMemInfo" resultMap="member">
		SELECT UM.MEM_NO, MEM_NAME, MI.ATTACHED_FILE_NAME
		FROM UNI_MEMBER UM
		LEFT JOIN MEM_IMG MI ON UM.MEM_NO = MI.MEM_NO
		WHERE UM.MEM_NO = #{memNo}
	</select>
	
	<!-- 회원등록 -->
	<insert id="regMember">
		INSERT INTO UNI_MEMBER (
				MEM_NO
				, MEM_PW
				, MEM_NAME
				, MEM_EMAIL
				, MEM_ADDR
				, MEM_ADDR_DETAIL
			<if test='memTell != null and !memTell.equals("")'>	
				, MEM_TELL
			</if>
				, MEM_IMAGE
				, MEM_GENDER
				, MEM_BIRTH
				, MEM_ROLE
		) VALUES(
				#{memNo}
				, #{memPw}
				, #{memName}
				, #{memEmail}
				, #{memAddr}
				, #{memAddrDetail}
			<if test='memTell != null and !memTell.equals("")'>	
				, #{memTell}
			</if>
				, #{memImage}
				, #{memGender}
				, #{memBirth}
				, #{memRole}	
		)
	</insert>
	
	<!--회원 이미지 파일  -->
	<insert id="regImg">
		INSERT INTO MEM_IMG(
		    IMG_CODE
		    , ORIGIN_FILE_NAME
		    , ATTACHED_FILE_NAME
		    , IS_MAIN
		    , MEM_NO
		) VALUES(
			#{memImgVO.imgCode}
			, #{memImgVO.originFileName}
			, #{memImgVO.attachedFileName}
			, #{memImgVO.isMain}
			, #{memNo}
		)
	</insert>
	
	<!-- 다음 이미지 코드 -->
	<select id="getNextImgCode" resultType="String">
		SELECT 'IMG_' || LPAD(NVL(MAX(TO_NUMBER(SUBSTR(IMG_CODE, 5))),0) + 1, 3, '0')  
		FROM MEM_IMG
	</select>

	<!-- 로그인 -->
	<select id="login" resultMap="member">
		SELECT MEM_NO
			, MEM_PW
			, MEM_NAME
			, MEM_ROLE
			, MEM_EMAIL
		FROM UNI_MEMBER
		WHERE MEM_NO = #{memNo}
		<if test="memName != null and memName != ''">
			AND MEM_NAME = #{memName}
		</if>
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="String">
		SELECT MEM_NO
		FROM UNI_MEMBER
		WHERE MEM_NAME = #{memName}
		AND MEM_EMAIL = #{memEmail}
	</select>
	
	<!-- 회원목록조회 -->
	<select id="getMemList" resultType="HashMap">
		SELECT MEM_NO
			, MEM_NAME
			, DECODE(MEM_ROLE, 'ADMIN', '교직원', 'PRO', '교수', 'STU', '학생') AS MEM_ROLE
		FROM UNI_MEMBER
		<if test="memName != null and memName != ''">
		WHERE UPPER(MEM_NAME) LIKE '%'||UPPER(#{memName})||'%'
		</if>
	</select>
	
	<!-- 비번 업데이트  -->
	<update id="setPw">
		UPDATE UNI_MEMBER
		SET MEM_PW = #{memPw}
		WHERE MEM_NO = #{memNo}
	</update>
	
</mapper>


























