<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="professorMapper">
	<!-- 교수 메뉴  -->
	<resultMap type="com.study.test.professor.vo.ProfessorMenuVO" id="professorMenu">
		<result column="PROFESSOR_MENU_CODE" 	property="menuCode"/>
		<result column="PROFESSOR_MENU_NAME" 	property="menuName"/>
		<result column="PROFESSOR_MENU_URL" 	property="menuUrl"/>
	</resultMap>
	
	<!-- 교수 서브 메뉴 -->
	<resultMap type="com.study.test.professor.vo.ProfessorSubMenuVO" id="professorSubMenu">
		<result column="PROFESSOR_SUB_MENU_CODE" 	property="subMenuCode"/>
		<result column="PROFESSOR_SUB_MENU_NAME" 	property="subMenuName"/>
		<result column="PROFESSOR_SUB_MENU_URL" 	property="subMenuUrl"/>
		<result column="PROFESSOR_MENU_CODE" 		property="menuCode"/>
	</resultMap>
	
	<!-- 강의 정보-->
	<resultMap type="com.study.test.professor.vo.LectureVO" id="lecture">
		<id column="LEC_NO" 				property="lecNo"/>
		<result column="LEC_NAME" 			property="lecName"/>
		<result column="LEC_SCORE" 			property="lecScore"/>
		<result column="COLL_NO" 			property="collNo"/>
		<result column="DEPT_NO" 			property="deptNo"/>
		<result column="EMP_NO" 			property="empNo"/>
		<result column="CREATE_DATE" 		property="createDate"/>
		<result column="MAX_MEM" 			property="maxMem"/>
		<result column="NOW_MEM" 			property="nowMem"/>
		<result column="SEM_NO" 			property="semNo"/>
		<result column="LEC_STATUS" 		property="lecStatus"/>
		<result column="MEM_NAME" 			property="memName"/>
		<association property="stuVO" resultMap="stuMapper.stu"/>
		<association property="lecturePdfVO" resultMap="lecturePdf"/>
		<association property="colleageVO" resultMap="schoolMapper.colleage"/>
		<association property="deptVO" resultMap="schoolMapper.dept"/>
		<association property="semesterVO" resultMap="schoolMapper.semester"/>
		<collection property="lectureTimeList" resultMap="lectureTime"/>
	</resultMap>
	
	<!-- 강의 자료 -->
	<resultMap type="com.study.test.professor.vo.LecturePdfVO" id="lecturePdf">
		<id column="PDF_NO" 				property="pdfNo"/>
		<result column="ORIGIN_PDF_NAME" 	property="originPdfName"/>
		<result column="ATTACHED_PDF_NAME" 	property="attachedPdfName"/>
		<result column="LEC_NO" 			property="lecNo"/>
	</resultMap>
	
	<!-- 강의 시간 -->
	<resultMap type="com.study.test.professor.vo.LectureTimeVO" id="lectureTime">
		<id column="TIME_NO" 				property="timeNo"/>
		<result column="LEC_DAY" 			property="lecDay"/>
		<result column="START_TIME" 		property="startTime"/>
		<result column="FINISH_TIME" 		property="finishTime"/>
		<result column="LEC_NO" 			property="lecNo"/>
	</resultMap>
	
	<!-- 교수 메뉴 -->
	<select id="getProfessorMenuList" resultMap="professorMenu">
		SELECT PROFESSOR_MENU_CODE
			, PROFESSOR_MENU_NAME
			, PROFESSOR_MENU_URL
		FROM PROFESSOR_MENU
		ORDER BY PROFESSOR_MENU_CODE
	</select>
	
	<!-- 교수 서브 메뉴 -->
	<select id="getProfessorSubMenuList" resultMap="professorSubMenu">
		SELECT PROFESSOR_SUB_MENU_CODE
			, PROFESSOR_SUB_MENU_NAME
			, PROFESSOR_SUB_MENU_URL
			, PROFESSOR_MENU_CODE
		FROM PROFESSOR_SUB_MENU
		WHERE PROFESSOR_MENU_CODE = #{menuCode}
	</select>
	
	<!-- 다음 등록될 강의 넘버 조회 -->
	<select id="getNextLectureNo" resultType="String">
		SELECT
			'LEC_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(LEC_NO, 5))), 0) + 1, 4,'0')
		FROM LECTURE
	</select>
	
	<!-- 담당 교수 목록-->
	<select id=""></select>
	
	<!-- 강의 등록 -->
	<insert id="regLecture">
		INSERT INTO LECTURE (
			LEC_NO
			, LEC_NAME
			, LEC_SCORE
			, COLL_NO
			, DEPT_NO
			, EMP_NO
			<if test="maxMem != null and maxMem != 0">
			, MAX_MEM
			</if>
			, SEM_NO
		) VALUES (
			#{lecNo}
			, #{lecName}
			, #{lecScore}
			, #{collNo}
			, #{deptNo}
			, #{empNo}
			<if test="maxMem != null and maxMem != 0">
			, #{maxMem}
			</if>
			, #{semNo}
		)
	</insert>
	
	<!-- 강의 시간 중복 체크 -->
	<select id="lectureTimeCheck" resultType="String">
		SELECT TIME_NO
		FROM LECTURE_TIME LT, LECTURE LEC
		WHERE LT.LEC_NO = LEC.LEC_NO 
		AND LEC_DAY = #{lecDay}
		AND LEC_STATUS = 'Y'
		<if test="lecNo != null and lecNo != ''">
		AND LEC.LEC_NO != #{lecNo}
		</if>
		AND (
            (START_TIME &lt;= #{startTime} AND FINISH_TIME > #{startTime})  <!--  시작 시간이 다른 강의와 겹칠 경우 -->
            OR (START_TIME &lt; #{finishTime} AND FINISH_TIME >= #{finishTime})   <!-- 종료 시간이 다른 강의와 겹칠 경우 -->
            OR (START_TIME >= #{startTime} AND FINISH_TIME &lt;= #{finishTime})   <!-- 다른 강의와 시간이 완전히 겹칠 경우 -->
        )
	</select>
	
	<!-- 강의 상세 등록 : 강의 자료 -->
	<insert id="regLecturePdf">
		INSERT INTO LECTURE_PDF (
			PDF_NO
			, ORIGIN_PDF_NAME
			, ATTACHED_PDF_NAME
			, LEC_NO
		) VALUES (
			(SELECT 'PDF_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(PDF_NO, 5))), 0) + 1, 4, '0')
			FROM LECTURE_PDF)
			, #{lecturePdfVO.originPdfName}
			, #{lecturePdfVO.attachedPdfName}
			, #{lecNo}
		)
	</insert>
	
	<!-- 강의 상세 등록 : 강의 날짜, 시간 -->
	<insert id="regLectureTime" parameterType="java.util.List">
		INSERT INTO LECTURE_TIME (
			TIME_NO
			, LEC_DAY
			, START_TIME
			, FINISH_TIME
			, LEC_NO
		)
		<foreach item="lectureTimeVO" collection="lectureTimeList" separator="UNION ALL" index="i">
				SELECT (SELECT 'TIME_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(TIME_NO, 6))), 0) + 1 + #{i}, 4, '0')
				FROM LECTURE_TIME)
				, #{lectureTimeVO.lecDay}
				, #{lectureTimeVO.startTime}
				, #{lectureTimeVO.finishTime}
				, #{lecNo}
				FROM DUAL
		</foreach>
	</insert>
	
	<!-- 강의 목록 조회 -->
	<select id="getLectureList" resultMap="lecture">
		SELECT LEC.LEC_NO
			, LEC_NAME
			, LEC_SCORE
			, COLL_NAME
			, DEPT_NAME
			, MAX_MEM
			, NOW_MEM
			, LEC_DAY
			, START_TIME
			, FINISH_TIME
			, ATTACHED_PDF_NAME
			, ORIGIN_PDF_NAME
			, TO_CHAR(CREATE_DATE, 'YYYY') AS CREATE_DATE
			, LEC_STATUS
			, SEM_NAME
			, UM.MEM_NAME
			, TIME_NO
			, SEM.SEM_NO
			, LEC.DEPT_NO
		FROM LECTURE LEC
			, COLLEAGE COL
			, DEPT DEPT
			, UNI_MEMBER UM
			, LECTURE_TIME LT
			, SEMESTER SEM
			, LECTURE_PDF LP
		WHERE LEC.COLL_NO = COL.COLL_NO
		AND LEC.DEPT_NO = DEPT.DEPT_NO
		AND UM.MEM_NO = LEC.EMP_NO
		AND LT.LEC_NO = LEC.LEC_NO
		AND SEM.SEM_NO = LEC.SEM_NO
		AND LP.LEC_NO = LEC.LEC_NO
		<if test="empNo != null and empNo != ''">
		AND EMP_NO = #{empNo}
		</if>
		<if test="collNo != null and collNo != ''">
		AND COLL_NO = #{collNo}
		</if>
		<if test="deptNo != null and dept != ''">
		AND DEPT_NO = #{deptNo}
		</if>
		<if test="lecStatus != null and lecStatus != ''">
		AND LEC_STATUS = #{lecStatus}
		</if>
		<if test="lecName != null and lecName != ''">
		AND UPPER(LEC_NAME) LIKE '%'||UPPER(#{lecName})||'%'
		</if>
		<if test="lecNo != null and lecNo != ''">
		AND LEC.LEC_NO = #{lecNo}
		</if>
		<if test="searchValue !=null and searchValue != ''">
		AND UPPER(${searchKeyword}) LIKE '%' || UPPER(#{searchValue}) || '%'
		</if>
		<if test="searchDept !=null and searchDept != ''">
		AND LEC.DEPT_NO = #{searchDept}
		</if>
		<if test="orderBy !=null and orderBy != ''">
		ORDER BY ${orderBy} DESC
		</if>
		
	</select>	
	
	<!-- 강의 목록 조회 : 시간표용(맵이용) -->
	<select id="getLectureListMap" resultType="HashMap">
		SELECT LEC.LEC_NO
			, LEC_NAME
			, DECODE(LEC_DAY, '월', '1', '화', '2', '수', '3', '목', '4', '금', '5') AS LEC_DAY
			, START_TIME
			, FINISH_TIME
		FROM LECTURE LEC, LECTURE_TIME LT
		WHERE LEC.LEC_NO = LT.LEC_NO 
		AND EMP_NO = #{empNo}
		AND LEC_STATUS = 'Y'
		<if test="lecStatus != null and lecStatus != ''">
		AND LEC_STATUS = #{lecStatus}
		</if>
		<if test="lecName != null and lecName != ''">
		AND UPPER(LEC_NAME) LIKE '%'||UPPER(#{lecName})||'%'
		</if>
		ORDER BY LEC.LEC_NO DESC
	</select>
	
	<!-- 강의 수정 : 교과목명, 학점 -->
	<update id="updateLecture">
		UPDATE LECTURE
		SET LEC_NAME = #{lecName}
		, LEC_SCORE = #{lecScore}
		, LEC_STATUS = #{lecStatus}
		WHERE LEC_NO = #{lecNo}
	</update>
	
	<!-- 강의 수정 : 강의 시간 -->
	<update id="updateLectureTime">
		UPDATE LECTURE_TIME
		SET LEC_DAY = #{lecDay}
		, START_TIME = #{startTime}
		, FINISH_TIME = #{finishTime}
		WHERE TIME_NO = #{timeNo}
	</update>
	
	<!-- 학생 성적 업데이트 -->
	<update id="updateStuGrade">
		UPDATE STU_GRADE
		SET GRADE = #{grade}
		WHERE STU_GRADE_NO = #{stuGradeNo}
	</update>
	
	
</mapper>

