<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="readMapper">

	
	<resultMap type="com.study.test.readingRoom.vo.ReadVO" id="read">
		<result column="SEAT_NO" 		property="seatNo"/>
		<result column="SEAT_NAME" 		property="seatName"/>
		<result column="DATE_NO"		property="dateNo"/>
		<result column="IS_RESERVE" 	property="isReserve"/>
	</resultMap>
	
	<resultMap type="com.study.test.readingRoom.vo.ReservationVO" id="reserv">
		<result column="RESER_NO" 				property="reserNo"/>
		<result column="MEM_NO" 				property="memNo"/>
		<result column="SEAT_NO" 				property="seatNo"/>
		<result column="START_TIME" 			property="startTime"/>
		<result column="END_TIME" 				property="endTime"/>
		<result column="REG_DATE" 				property="regDate"/>
		<result column="DATE_NO"				property="dateNo"/>	
		<result column="IS_LEAVE"				property="isLeave"/>	
	</resultMap>
	
	<select id="getSeatList" resultMap="read">
		SELECT SEAT_NO
			, SEAT_NAME
			, DATE_NO
			, IS_RESERVE
		FROM UNI_READING_ROOM
		WHERE DATE_NO = #{dateNo}
	</select>
	
	<select id="getDateNo" resultType="String">
		SELECT DATE_NO
		FROM UNI_READING_ROOM
		WHERE SEAT_NO = #{seatNo}
	</select>
	
	<insert id="reservationRoom">
		INSERT INTO RESERVATION_ROOM (
			RESER_NO
			, MEM_NO
			, SEAT_NO
			, START_TIME
			, END_TIME
			, DATE_NO
			, REG_DATE 
		) VALUES (
			(SELECT 'RESER_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(RESER_NO, 8))), 0) +1 , 3, '0')
            FROM RESERVATION_ROOM)
            , #{memNo}
            , #{seatNo}
            , #{startTime}
            , #{endTime}
            , #{dateNo}
            , SYSDATE
		)
	</insert>
	
	<update id="seatUpdate">
		UPDATE UNI_READING_ROOM
		SET IS_RESERVE = 'X'
		WHERE SEAT_NO = #{seatNo}
	</update>
	
	<update id="setBeforDateBySeatUsed">
		UPDATE UNI_READING_ROOM
		SET IS_RESERVE = 'O'
		WHERE DATE_NO = #{dateNo}
	</update>
	
	<update id="setBeforDateByReservationRoom">
		UPDATE RESERVATION_ROOM
		SET IS_LEAVE = 'Y'
		WHERE DATE_NO = #{dateNo}
	</update>
	
	<select id="verifyLeaveRoom" resultType="int">
		SELECT COUNT(RESER_NO)
		FROM RESERVATION_ROOM
		WHERE MEM_NO = #{memNo}
		AND IS_LEAVE = 'N'
	</select>
	
	<select id="getMemSeatNo" resultType="String">
		SELECT SEAT_NO
		FROM RESERVATION_ROOM
		WHERE MEM_NO = #{memNo}
		AND TO_CHAR(REG_DATE, 'YYYY-MM-DD') = #{regDate}
		AND IS_LEAVE = 'N'
	</select>
	
	<update id="setReadingRoomReserve">
		UPDATE UNI_READING_ROOM
		SET IS_RESERVE = 'O'
		WHERE SEAT_NO = #{seatNo}
	</update>
	
	<update id="setReservationRoomByMember">
		UPDATE RESERVATION_ROOM
		SET IS_LEAVE = 'Y'
		WHERE MEM_NO = #{memNo}
	</update>
	
</mapper>


























