<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">

	
	<resultMap type="com.study.test.board.vo.BoardReplyVO" id="reply">
		<id column="REPLY_NO" 			property="replyNo"/>
		<result column="BOARD_NO" 			property="boardNo"/>
		<result column="REPLY_CONTENT" 			property="replyContent"/>
		<result column="REPLY_WRITER" 			property="replyWriter"/>
		<result column="IS_PRIVATE" 			property="isPrivate"/>

	</resultMap>
	
	<!-- 댓글 조회 -->
	<select id="selectReply" resultMap="reply">
		SELECT REPLY_NO
			, BOARD_NO
			, REPLY_CONTENT
			, REPLY_WRITER
			, IS_PRIVATE
		FROM BOARD_REPLY
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 댓글 수 -->
	<select id="replyCount" resultType="int">
		SELECT COUNT(REPLY_NO)
		FROM BOARD_REPLY
		WHERE BOARD_NO = #{boardNo}
	</select>
	

	<!-- 댓글등록 -->
	<insert id="insertReply">
		INSERT INTO BOARD_REPLY (
			REPLY_NO
			, BOARD_NO
			, REPLY_CONTENT
			, REPLY_WRITER
			, IS_PRIVATE
		) VALUES (
			(SELECT 'REPLY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(REPLY_NO, 7))), 0) +1 , 3, '0')
	            FROM BOARD_REPLY)
	        , #{boardNo}
	        , #{replyContent}
	        , #{replyWriter}
	        , 'N'
		)
	</insert>
	
	<!-- 댓글 삭제  // 작성자 또는 게시글 주인(아직 미구현) -->
	<delete id="replyDelete">
		DELETE BOARD_REPLY
		WHERE REPLY_WRITER = #{replyWriter}
		AND REPLY_NO = #{replyNo}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="replyUpdate">
		UPDATE BOARD_REPLY
		SET REPLY_CONTENT = #{replyContent}
		WHERE REPLY_NO = #{replyNo}
	</update>

	<!-- 댓글 등록마다 해당 테이블 댓글 수 1 증가 -->
	<update id="replyPlus">
		UPDATE UNI_BOARD
		SET REPLY_CNT = REPLY_CNT + 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 댓글 삭제마다 해당 테이블 댓글 수 1 감소 -->
	<update id="replyDecrease">
		UPDATE UNI_BOARD
		SET REPLY_CNT = REPLY_CNT - 1
		WHERE BOARD_NO = #{boardNo}
	</update>


</mapper>


























