<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="schoolMapper">
	<!-- 대학 -->
	<resultMap type="com.study.test.school.colleage.ColleageVO" id="colleage">
		<id column="COLL_NO" 		property="collNo"/>
		<result column="COLL_NAME" 	property="collName"/>
	</resultMap>
	<!-- 학과 -->
	<resultMap type="com.study.test.school.dept.DeptVO" id="dept">
		<id column="DEPT_NO" 		property="deptNo"/>
		<result column="DEPT_NAME" 	property="deptName"/>
		<result column="COLL_NO" 	property="collNo"/>
	</resultMap>
	<!-- 복수전공 -->
	<resultMap type="com.study.test.school.double_major.DoubleMajorVO" id="doubleMajor">
		<id column="DOUBLE_NO" 			property="doubleNo"/>
		<result column="DOUBLE_COLL" 	property="doubleColl"/>
		<result column="DOUBLE_DEPT" 	property="doubleDept"/>
	</resultMap>
	<!-- 학기 -->
	<resultMap type="com.study.test.school.semester.SemesterVO" id="semester">
		<id column="SEM_NO" 			property="semNo"/>
		<result column="SEM_YEAR" 	property="semYear"/>
		<result column="SEMESTER" 	property="semester"/>
		<result column="SEM_NAME" 	property="semName"/>
	</resultMap>
	
	<!-- 학기 리스트 조회 -->
	<select id="getSemeList" resultMap="semester">
		SELECT SEM_NO
			, SEM_NAME
			, SEM_YEAR
			, SEMESTER
		FROM SEMESTER
	</select>

	<!-- 대학 리스트 조회 -->
	<select id="getCollList" resultMap="colleage">
		SELECT COLL_NO
			, COLL_NAME
		FROM COLLEAGE
	</select>

	<!-- 학과 리스트 조회 -->
	<select id="getDeptList" resultMap="dept">
		SELECT DEPT_NO
			, DEPT_NAME
			, COLL_NO
		FROM DEPT
	</select>

	<!-- 복수 전공 리스트 조회 -->
	<select id="getDoubleMajorList" resultMap="doubleMajor">
		SELECT DOUBLE_NO
			, DOUBLE_DEPT_NAME
			, DOUBLE_COLL
		FROM DOUBLE_MAJOR
	</select>
	
	
	<!-- 학과에 맞는 리스트 조회 -->
	<select id="getDept" resultMap="dept">
		SELECT DEPT_NO
			, DEPT_NAME
			, COLL_NO
		FROM DEPT
		WHERE COLL_NO = #{collNo}
	</select>
</mapper>


























