<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="schoolMapper">
	<!-- 대학 -->
	<resultMap type="com.study.test.school.colleage.ColleageVO" id="colleage">
		<id column="COLL_NO" 		property="collNo"/>
		<result column="COLL_NAME" 	property="collName"/>
	</resultMap>
	<!-- 학과 -->
	<resultMap type="com.study.test.school.dept.DeptVO" id="dept">
		<id column="DEPT_NO" 		property="deptNo"/>
		<result column="DEPT_NAME" 	property="deptName"/>
		<result column="COLL_NO" 	property="collNo"/>
	</resultMap>
	<!-- 복수전공 -->
	<resultMap type="com.study.test.school.double_major.DoubleMajorVO" id="doubleMajor">
		<id column="DOUBLE_NO" 			property="doubleNo"/>
		<result column="DOUBLE_COLL" 	property="doubleColl"/>
		<result column="DOUBLE_DEPT_NAME" 		property="doubleDeptName"/>
	</resultMap>
	<!-- 학기 -->
	<resultMap type="com.study.test.school.semester.SemesterVO" id="semester">
		<id column="SEM_NO" 			property="semNo"/>
		<result column="SEM_YEAR" 	property="semYear"/>
		<result column="SEMESTER" 	property="semester"/>
		<result column="SEM_NAME" 	property="semName"/>
	</resultMap>
	<!-- 성적과 성적에따른학점 -->
	<resultMap type="com.study.test.school.grade.GradeVO" id="grade">
		<id column="GRADE" 			property="grade"/>
		<result column="SCORE" 		property="score"/>
	</resultMap>
	<!-- 학생 성적 -->
	<resultMap type="com.study.test.school.stu_grade.StuGradeVO" id="stuGrade">
		<id column="STU_GRADE_NO" 			property="stuGradeNo"/>
		<result column="LEC_NO" 	property="lecNo"/>
		<result column="GRADE" 		property="grade"/>
		<result column="STU_NO" 	property="stuNo"/>
		<result column="SEM_NO" 	property="semNo"/>
	</resultMap>
	<!-- 수강신청 -->
	<resultMap type="com.study.test.school.enrollment.EnrollmentVO" id="enroll">
		<id column="ENROLLMENT_NO" 			property="enrollmentNo"/>
		<result column="STU_NO" 	property="stuNo"/>
		<result column="LEC_NO" 	property="lecNo"/>
		<result column="SEM_NO" 	property="semNo"/>
		<association property="memberVO" resultMap="memberMapper.member"/>
		<association property="stuVO" resultMap="stuMapper.stu"/>
		<association property="colleageVO" resultMap="schoolMapper.colleage"/>
		<association property="deptVO" resultMap="schoolMapper.dept"/>
		<association property="stuGradeVO" resultMap="schoolMapper.stuGrade"/>
	</resultMap>
	
	<!-- 학기 리스트 조회 -->
	<select id="getSemeList" resultMap="semester">
		SELECT SEM_NO
			, SEM_NAME
			, SEM_YEAR
			, SEMESTER
		FROM SEMESTER
		<if test="semYear != null and semYear != 0">
		WHERE SEM_YEAR = #{semYear}
		AND SEMESTER = #{semester}
		</if>
	</select>

	<!-- 대학 리스트 조회 -->
	<select id="getCollList" resultMap="colleage">
		SELECT COLL_NO
			, COLL_NAME
		FROM COLLEAGE
	</select>

	<!-- 학과 리스트 조회 -->
	<select id="getDeptList" resultMap="dept">
		SELECT DEPT_NO
			, DEPT_NAME
			, COLL_NO
		FROM DEPT
		<if test="collNo != null and collNo != ''">
		WHERE COLL_NO = #{collNo}
		</if>
	</select>

	<!-- 복수 전공 리스트 조회 -->
	<select id="getDoubleMajorList" resultMap="doubleMajor">
		SELECT DOUBLE_NO
			, DOUBLE_DEPT_NAME
			, DOUBLE_COLL
		FROM DOUBLE_MAJOR
	</select>
	
	<!-- 단과대학에 맞는 리스트 조회 -->
	<select id="getDept" resultMap="dept">
		SELECT DEPT_NO
			, DEPT_NAME
			, COLL_NO
		FROM DEPT
		WHERE COLL_NO = #{collNo}
	</select>
	
	<!-- 학과에 맞는 담당교수님 리스트 조회 -->
	<select id="getProfessorList" resultMap="adminMapper.emp">
		SELECT EMP_NO
			, EMP_TYPE
			, DEPT_NO
			, MEM.MEM_NO
			, COLL_NO
			, MEM.MEM_NAME
		FROM UNI_EMP EMP, UNI_MEMBER MEM
		WHERE EMP.MEM_NO = MEM.MEM_NO
		<if test="deptNo != null and deptNo != ''">
			AND DEPT_NO = #{deptNo}
		</if>
	</select>
	
	<!-- 수강 신청한 학생 목록 조회 -->
	 <select id="getLecStuList" resultType="HashMap">
		SELECT ENROLLMENT_NO
            , US.STU_NO
			, MEM_NAME
			, COLL_NAME 
			, DEPT_NAME
			, STU_YEAR
			, LEC_SCORE
			, NVL(GRADE, NULL) AS GRADE
		FROM ENROLLMENT ENROLL
			, UNI_STU US
			, UNI_MEMBER UM
			, COLLEAGE COLL
			, DEPT DEPT
			, LECTURE LEC
			, STU_GRADE SG
		WHERE ENROLL.STU_NO = US.STU_NO
        AND UM.MEM_NO = ENROLL.STU_NO
		AND COLL.COLL_NO = US.COLL_NO
		AND DEPT.DEPT_NO = US.DEPT_NO
        AND ENROLL.LEC_NO = LEC.LEC_NO
        AND (SG.STU_NO = US.STU_NO AND ENROLL.LEC_NO = SG.LEC_NO)
		AND ENROLL.LEC_NO = #{lecNo}
	</select>
	
	<!-- 성적과 성적에따른 학점 -->
	<select id="getGradeScore" resultMap="grade">
		SELECT GRADE
			, SCORE
		FROM GRADE
	</select>
</mapper>


























