@charset "UTF-8";
.container{
	width: 100%;
	height: 80vh;
}

h1{
	font-weight: bolder;
}
h3{
	font-weight: border;
}
table {
	text-align: center;
	
}
table td {
	vertical-align: middle;
	text-align: center;
	border: 1px solid #dee2e6;
	
}
.blueFont{
	color: blue;
	font-size: 15px;
}

#stuNum{
	color: blue;
}
