@charset "UTF-8";
.container{
	width: 100%;
	min-height: 80vh;
}

h1{
	font-weight: bolder;
}
h3{
	font-weight: border;
}
table {
	text-align: center;
	
}
table td {
	vertical-align: middle;
	text-align: center;
	border: 1px solid #dee2e6;
	
}
.blueFont{
	color: blue;
	font-size: 15px;
}

#stuNum{
	color: blue;
}

.stuOut_table_header{
	margin-bottom: 0;
}

.stuOut_table_body{
	display:inline-block;
	width: 100%;
}

table.stuOut_table_body .probTbody {
	display: block; /* tbody를 블록 요소로 만들어 너비를 조정할 수 있게 함 */
}

.probTbody tr{
	width: 100%;
}

.stuOut_table_body::-webkit-scrollbar {
  width: 15px;
}

.stuOut_table_body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.stuOut_table_body::-webkit-scrollbar-thumb {
  background-color: #897c76;
  border-radius: 10px;
}

.probTbody::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.probTbody::-webkit-scrollbar-corner {
  background-color: #f2f2f2;
}

.stu_out_btn{
	height: 100%;
}