@charset "UTF-8";


.boardContent{
	vertical-align: top;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	font-size: 20px;
	height: 300px;
}
.detail_info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #897c76;
    border-bottom: 1px solid #897c76;
    margin: 10px 0;
    background: #ebe7e3;
    overflow: hidden;
    padding: 6px 6px 1px 6px;
}

table.detail_info{
	width: 100%;
	margin: 10px;
	padding: 10px;
}
table.detail_info td{
	margin: 10px;
	padding: 5px;
}

table.default_info{
	width: 100%;
}

table.default_info input{
	background-color: #D3D3D3;
}
table.default_info td{
	width: 100px;
	padding: 5px;
}

/* 아래로는 댓글 기능 */
.comment-form {
	width: 100%;
    margin-bottom: 20px;
}

.comment-form textarea {
    width: 100%;
    height: 100%;
}

.comment-form button {
    margin-top: 10px;
}

.reply{
	margin: 10px;
	width: 100%;
}
 
.replyContent{
	border-radius: 15px;
}    
.updateOrDelete{
	text-align: right;
}
.noReplyTable{
	margin: 10px;
	width: 100%;
} 
   
.noReply{
	text-align: center;
	padding: 20px;
}