@charset "UTF-8";

.info_side_row{
	height: 100%;
	width: 100%;
	margin: 0 0;
}

.div-container{
	display: flex;
	width: 100%;
	padding: 0px;
}

.div-left {
  /* float: left; */
  width: 100%;
  height: 100%;
}

.div-center {
 /*  float: right; */
 width: 100%;
 height: auto;
 background-color: #870119;
 color: white;
}

.main_div {
	width: 50%;
}
.submenuTd{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
	color: white;
	align-items: center;
}

p{
	width: 60%;
	text-align: center;
	font-size: 16px;
	color: white;
}

.div-left table{
	width: 100%;
}

.div-left tr{
	width: 100%;
}

.div-left td{
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-left .active{
	background-color: #870119;
}

.div-center table{
	width: 100%;
}

.div-center td{
	display: flex;
	justify-content: center;
	align-items: center;
}

td{
	height: 5vh;
	cursor: pointer;
}


/*
#menuSearch{
	border-radius: 20px;
}

.b{
	height: 100px;
}

body{
	height: 100vh;
}


table{
	
}

table tr:first-child td {
	
}


td:hover {
  background-color: rgb(128, 255, 255);
}
table tr td:nth-child(1) {
	width: 150px;
}



table tr td:nth-child(2) {
	width: auto;
	height: 1000%;
	
}

.list-group-item{
	cursor: pointer;
}
*/