<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/board/totalBoard.css">
</th:block>

<th:block layout:fragment="content">

<div style="text-align: center;"> 
	<div style="text-align: center;"> 
		<div class="container">
			<div class="content" id="boardContent">
			  <div class="row justify-content-center">
				<div class="col-md-12">
				  <table class="table table-custom">
					<tr>
					  <td>
					  	<div class="page_title" >
							<h4 style="text-align: center;">[[${memberVO.deptVO.deptName}]] 게시판</h4>
					  	</div>
					  </td>
					</tr>
				  </table>
				  <form th:action="@{/board/deptBoard}" method="post" id="month-form">
				  	<input type="hidden" value="" name="month">
				  </form>
				  <form th:action="@{/board/deptBoard}" method="post" id="orderBy">
				  	<input type="hidden" value="" name="orderBy">
				  </form>
				  
				  <div class="row">
					  <div class="order col-6">				  
					  	 <input type="button" th:classappend="${uniBoardVO.orderBy == 'REG_BOARD_DATE_ORDER' ? 'btn-primary' : 'btn-secondary'}" class="btn" id="orderDate" value="최근순" onclick="getOrderList('REG_BOARD_DATE_ORDER');" th:data-order-by="REG_BOARD_DATE_ORDER">
					    <input type="button" th:classappend="${uniBoardVO.orderBy == 'READ_CNT' ? 'btn-primary' : 'btn-secondary'}" class="btn" id="orderRead" value="조회순" onclick="getOrderList('READ_CNT');" th:data-order-by="READ_CNT">
					    <input type="button" th:classappend="${uniBoardVO.orderBy == 'REPLY_CNT' ? 'btn-primary' : 'btn-secondary'}" class="btn" id="orderReply" value="댓글순" onclick="getOrderList('REPLY_CNT');" th:data-order-by="REPLY_CNT">  		
					  </div>
					  <div class="col-6 text-end">
					  		<form th:action="@{/board/deptBoard}" method="post">
								  <div class="btn-group">
								  	<select class="form-control searchKeyword"  name="searchKeyword">
										<option  value="BOARD_TITLE" th:selected="${uniBoardVO.searchKeyword == 'BOARD_TITLE'}">제목</option>
										<option  value="BOARD_CONTENT"  th:selected="${uniBoardVO.searchKeyword == 'BOARD_CONTENT'}">내용</option>
										<option  value="BOARD_WRITER"  th:selected="${uniBoardVO.searchKeyword == 'BOARD_WRITER'}">작성자</option>
										<!-- 셀렉트 박스 옵션 추가 -->
							 		 </select>
								  	<input type="text" class="form-control searchValue" placeholder="검색할 키워드를 입력하세요" name="searchValue" style="width: 200px;"/>
								  	<input type="button" value="검색" class="btn btn-danger mx-2" onclick="searchOrder();">
								  </div>
							  </form>	  	
					  </div>	
				  </div>
		  		<div class="detail_info" id="my-scroll">
				  <table class="table">
					<thead>
					  <tr>
						<th>No</th>
						<th>분류</th>
						<th>글쓴이</th>
						<th>글 제목</th>
						<th>작성일</th>
						<th>조회수</th>
					  </tr>
					</thead>
					<tbody>
					<th:block th:if="${#lists.size(uniBoardList) == null}">
						<tr>
							<td colspan="6">작성된 게시글 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:if="${#lists.size(uniBoardList) != 0}">
						<tr th:each="uniBoard, state : ${uniBoardList}">
							<td>[[${state.count}]]</td>
							<td>[[${uniBoard.cateName}]]</td>
							<td>[[${uniBoard.boardWriter}]]</td>
							<td th:if="${uniBoard.isPrivate !='N'} and ${uniBoard.replyCnt != 0}">
								<a href="#" th:onclick="checkPwd( [[${uniBoard.isPrivate}]] , [[${uniBoard.boardNo}]], [[${menuCode}]], [[${subMenuCode}]], [[${uniBoard.readCnt}]]);" class="title"> 
									🔒 [[${uniBoard.boardTitle}]]  <span class="replyColor">([[${uniBoard.replyCnt}]])</span>
								</a>
							</td>
							<td th:if="${uniBoard.isPrivate !='N'} and ${uniBoard.replyCnt == 0}">
								<a href="#" th:onclick="checkPwd( [[${uniBoard.isPrivate}]] , [[${uniBoard.boardNo}]], [[${menuCode}]], [[${subMenuCode}]], [[${uniBoard.readCnt}]]);" class="title"> 
									🔒 [[${uniBoard.boardTitle}]]
								</a>
							</td>
							<td th:if="${uniBoard.isPrivate =='N'} and ${uniBoard.replyCnt != 0}">
								<a th:href="@{/board/boardDetail(menuCode=${menuCode}, subMenuCode=${subMenuCode}, boardNo=${uniBoard.boardNo}, readCnt=${uniBoard.readCnt} )}" class="title">
									[[${uniBoard.boardTitle}]]  <span class="replyColor">([[${uniBoard.replyCnt}]])</span>
								</a>
							</td>
							<td th:if="${uniBoard.isPrivate =='N'} and ${uniBoard.replyCnt == 0}">
								<a th:href="@{/board/boardDetail(menuCode=${menuCode}, subMenuCode=${subMenuCode}, boardNo=${uniBoard.boardNo}, readCnt=${uniBoard.readCnt} )}" class="title">
									[[${uniBoard.boardTitle}]] 
								</a>
							</td>
							<td>[[${uniBoard.regBoardDate}]]</td>
							<td>[[${uniBoard.readCnt}]]</td>
						</tr>
					</th:block>
					</tbody>
				  </table>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</div>
	<div class="row">
		<div class="col text-end"> 
		<!-- bootstrap에서 이미 디자인한 것을 끌어온 것이다. -->
				
		</div>
	</div>

<div class="boardWriterGoSize">
 <button class="btn btn-danger boardWriteGo"><span data-bs-toggle="modal" data-bs-target="#writeModal" style="cursor: pointer;">글쓰기 </span> </button>
</div>

<!-- 글쓰기 모달 -->
<div class="modal fade" id="writeModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">게시글 작성</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
   
	      <div class="modal-body boardWriters">
						<form class="row g-3" th:action="@{/stuMenu/boardWrite}" method="post"> <!-- 라벨(label) 안써도됨.  -->
							<input type="hidden" th:value="${menuCode}" name="menuCode"> 
							<input type="hidden" th:value="${subMenuCode}" name="subMenuCode"> 
							<div>						
							<label for="memId" class="form-label"></label> 							
								<th:block th:each="member : ${memberVO}">
									<input type="hidden" class="boardWriter" th:name="boardWriter" th:value="${member.stuVO.stuNo}">
									<div sec:authorize="hasRole('ROLE_ADMIN')">
										<input type="hidden" class="deptNo" th:value="${member.empVO.deptNo}">
									</div>
									<div sec:authorize="hasRole('ROLE_PRO')">
										<input type="hidden" class="deptNo" th:value="${member.empVO.deptNo}">
									</div>
									<div sec:authorize="hasRole('ROLE_STU')">
										<input type="hidden" class="deptNo" th:value="${member.stuVO.deptNo}">
									</div>
									작성자 : [[${member.memName}]] / [[${member.memNo}]]
								</th:block>
							</div>
							<div class="col-5">
								<label for="boardTitle" class="form-label">제목</label> 
								<input type="text" class="form-text boardTitle" id="boardTitle" name="boardTitle" placeholder="제목을 입력하세요.">
							</div>	
 							<div class="col-5"> 
								<label for="memId" class="form-label">카테고리</label> 
								<select th:name="cateNo" class="cateNo">
									<th:block th:each="boardCategory : ${boardCategoryVO}">
										<option th:value="${boardCategory.cateNo}">[[${boardCategory.cateName}]]</option>
									</th:block>
								</select>
							</div>						
							<!-- <div class="my-invalid"> ID가 잘못됬어요.</div> -->												
							<br>
							<div class="col-12">
								<label for="boardContent" class="form-label">게시글 내용</label> 
								<textarea class="form-control boardContent" rows="10" cols="25" name="boardContent"></textarea>
							</div>
							<!-- <div class="col-12">
								<label for="boardTitle" class="form-label">첨부 파일 </label> 
								<input type="radio" > 예 
							</div> -->
							<div class="col-12">
								<div class="col-6" >
									<label for="boardTitle" class="form-label">비밀글 여부 : </label> 
									<input type="radio" class="isPrivate" name="isPrivate" value="Y" onclick="private();"> 예 
									<input type="radio" class="isPrivate" name="isPrivate" value="N" checked onclick="noPrivate();"> 아니오
								</div>
								<div class="pwd">
									<span class="inputPwd"></span>
								</div>
								<!-- <div class="col-3">
									<label for="boardTitle" class="form-label">공지사항 여부 : </label> 
									<input type="radio" class="isNotice" name="isNotice" value="Y" > 예 
									<input type="radio" class="isNotice" name="isNotice" value="N" checked> 아니오
								</div> -->
							</div>					
							<br>
							<div class="col-12 d-grid">
							
								<input type="button" value="게시글 등록" class="btn btn-primary" th:onclick="success();">
						</div>
						</form>					
			</div>
    </div>
  </div>
</div>
<input type="hidden" th:value="${memberVO.deptVO.deptNo}" class="deptNo">

<!-- 최신, 댓글, 조회 순 정렬 -->
<form th:action="@{/board/deptBoard}" method="post" id="test_orderBy">
	<input type="hidden" name="orderBy" value="">
	<input type="hidden" name="searchKeyword" value="">
	<input type="hidden" name="searchValue" value="">
</form>

<!-- 서치 키워드 정렬 -->
<form th:action="@{/board/deptBoard}" method="post" id="searchKeyword">
	<input type="hidden" name="orderBy" value="">
	<input type="hidden" name="searchKeyword" value="">
	<input type="hidden" name="searchValue" value="">
</form>


<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/publicBoard/deptBoard.js"></script>
</th:block>

</html>