
  
  
  
  
  .weathermodal-body {
    width: 100%;
    max-width: 400px;
    padding: 28px 32px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 191, 255, 0.5), rgba(14, 77, 119, 0.5));
  }
  .weatherModal-container{
    width: 100%;
    max-width: 400px;
    padding: 28px 32px;
    font-family: 'Roboto', sans-serif;
  }
  
  .weathersearch-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .weathersearch-box input {
    width: 80%;
    font-size: 24px;
    padding-left: 32px;
  }
  
  .weathersearch-box input::placeholder {
    font-size: 20px;
  }
  
  .weathersearch-box button {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
  
  .weather-box img {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .weather-box .temperature {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
  }
  
  .weather-box .temperature span {
    font-size: 1.5rem;
  }
  
  .weather-box .description {
    font-size: 22px;
    font-weight: 500;
  }
  
  .weather-details {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .weather-details .humidity,
  .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
  }
  
  .weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
  }
  
  .weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
  }
  
  .weather-details i {
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
  }
  
  .weather-details span {
    font-size: 22px;
    font-weight: 500;
  }
  
  .weather-details p {
    font-size: 14px;
    font-weight: 500;
  }
  
  .not-found {
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
  }
  
  .not-found img {
    width: 70%;
  }
  
  .not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
  }
  
  .weather-box,
  .weather-details {
    scale: 0;
    opacity: 0;
  }
  
  .fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes fadeIn {
    to {
      scale: 1;
      opacity: 1;
    }
  }
  
  #weatherSize{
  	height: 10px;
  }