<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="adminSideFragment">
	<link rel="stylesheet" href="/css/fragment/admin_side.css">
	<div class="row main_div">
		<div class="col-12 menu_image_wrap py-3">
			<img alt="menu" src="/image/icon/menu.png" width="40%">
		</div>
		<div class="col-6 menu_name_div">
			<ul class="menu_ul pt-3">
				<th:block th:each="adminMenu:${adminMenuList}">
					<li class="main_menu_li" th:classappend="${adminMenu.menuCode} == ${adminSubMenuVO.menuCode} ? 'active' : ''"><a href="javascript:void(0)"
						th:onclick="moveByMenuCode([[${adminMenu.menuCode}]],[[${adminMenu.menuUrl}]])" >[[${adminMenu.menuName}]]</a></li>
				</th:block>
			</ul>
		</div>
		<div class="col-6 px-0">
			<ul class="subMenu_ul h-100">
				<th:block th:each="subMenu:${adminSubMenuList}">
					<li><a href="javascript:void(0)"
						th:onclick="moveBySubMenuCode([[${subMenu.subMenuCode}]],[[${subMenu.subMenuUrl}]])">[[${subMenu.subMenuName}]]</a></li>
				</th:block>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="/js/fragment/admin_side.js"></script>
</th:block>
</html>