<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- jQuery CDN 추가 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/css/content/stu/weather/WeatherStyle.css">
	<link rel="stylesheet" type="text/css" href="/css/content/chatbot/chatbot.css">
</head>

<body>
	<th:block th:fragment="headerFragment">
		<div class="row h-100 header_wrap align-items-center">
			<div class="col-7">
				<img src="/image/khLogo3.png" width="190px" style="margin-left: 10px">
				<span>학사행정웹서비스</span>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weatherModal">
					날씨정보
				</button>

				<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#chatModal">
					학생챗봇도우미
				</button>
			</div>
			<div class="col-5 header_member">
				<div class="row me-3">
					<div class="col">
						<span id="timer">🕦60:0</span>
						<span>
							<input type="button" value="연장" class="btn btn-primary" onclick="resetTimer();">
						</span>
						<span>
							<input type="hidden" id="memNo" th:value="${#authentication.name}">
						</span>
						<button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
							aria-expanded="false">[[${#authentication.principal.memName}]]</button>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" data-bs-toggle="modal"
									data-bs-target="#changeInfoModal">개인정보변경</a></li>
							<li><a data-bs-toggle="modal" data-bs-target="#passwordChangeModal">비밀번호 변경</a>
							</li>
							<hr>
							<li><a href="/member/logout">로그아웃</a></li>
						</ul>
						<span class="msg_btn_wrap"></span>
					</div>
				</div>
			</div>
		</div>
		<span sec:authorize="hasRole('ROLE_ADMIN')">
			<input type="hidden" id="adminSubMenuVO" th:value="${adminSubMenuVO.menuCode}">
			<!-- ROLE_ADMIN 권한이 있는 경우에만 표시 -->
		</span>
		<span sec:authorize="hasRole('ROLE_STU')">
			<input type="hidden" id="memberSubMenuVO" th:value="${memberSubMenuVO.menuCode}">
			<!-- ROLE_MEMBER 권한이 있는 경우에만 표시 -->
		</span>
		<span sec:authorize="hasRole('ROLE_PRO')">
			<input type="hidden" id="professorSubMenuVO" th:value="${professorSubMenuVO.menuCode}">
			<!-- ROLE_PROFESSOR 권한이 있는 경우에만 표시 -->
		</span>

		<!-- 개인정보 변경 모달 -->
		<div class="modal fade" id="changeInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">개인정보 변경</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/member/changeMemInfo" method="post" id="changeInfoForm">
							<div class="row">
								<div class="col-12">
									<div class="row">
										<div class="col-12">
											<table class="detail_info">
												<tr>
													<td>이메일</td>
													<td class="d-grid">
														<div class="row">
															<div class="col-9">
																<input type="text" name="memEmail" id="changeMail"
																	required class="form-control">
															</div>
															<div class="col-3 d-grid">
																<input type="button" value="메일인증 번호전송"
																	onclick="sendCatiMail();" class="btn btn-primary">
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>이메일 인증번호</td>
													<td class="d-grid">
														<div class="row">
															<div class="col-9">
																<input type="password" class="form-control"
																	id="catifiNumByMail" placeholder="인증번호를 입력해주세요"
																	readonly>
															</div>
															<div class="col-3 d-grid">
																<input type="button" value="메일 변경"
																	onclick="checkByCatiNum();" disabled
																	id="mailCatiBtn" class="btn btn-primary">
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>연락처</td>
													<td class="d-grid">
														<div class="row">
															<div class="col-9">
																<input type="text" class="form-control" name="memTell"
																	id="changeTell" maxlength="13"
																	oninput="autoHyphen3(this)">
															</div>
															<div class="col-3 d-grid">
																<input type="button" class="btn btn-primary"
																	value="번호인증 번호전송" onclick="sendSms()">
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>연락처 인증번호</td>
													<td class="d-grid">
														<div class="row">
															<div class="col-9">
																<input type="password" class="form-control" id="smsNum"
																	placeholder="인증번호를 입력해주세요">
															</div>
															<div class="col-3 d-grid">
																<input type="button" class="btn btn-primary" disabled
																	id="tellCatiBtn" value="번호 변경"
																	onclick="updateMemTell()">
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>이름</td>
													<td class="d-grid">
														<div class="row">
															<div class="col-9">
																<input type="text" class="form-control" name="memName"
																	id="changeName">
															</div>
															<div class="col-3 d-grid">
																<input type="button" class="btn btn-primary"
																	value="이름 변경" onclick="updateMemInfo('memName')">
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>주소</td>
													<td>
														<div class="row">
															<div class="col-9 d-grid">
																<input type="text" name="memAddr" required
																	id="changeAddress" readonly onclick="searchAddr();">
															</div>
															<div class="col-3 d-grid">
																<input type="button"
																	class="btn btn-primary addr_search_btn"
																	onclick="searchAddr();" value="주소찾기">
															</div>
														</div>

													</td>
												</tr>
												<tr>
													<td>상세주소</td>
													<td class="d-grid">
														<div class="row">
															<div class="col-9">
																<input type="text" class="form-control"
																	name="memAddrDetail" id="changeAddrDetail" required
																	placeholder="상세주소 입력은 필수입니다.">
															</div>
															<div class="col-3 d-grid">
																<input type="button" class="btn btn-primary"
																	value="주소 변경" onclick="updateMemInfo('memAddr')">
															</div>
														</div>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col d-grid">
											<input type="button" onclick="closeModal();" id="changeBtn"
												class="btn btn-primary" value="닫기">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>






		<!-- 비밀번호 변경 모달  -->
		<div class="modal fade" id="passwordChangeModal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">비밀번호 변경</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row justify-content-center">
							<div class="col">
								<div class="row mt-3 mb-3">
									<div class="col-8">
										<table class="table">
											<colgroup>
												<col width="40%">
												<col width="*">
											</colgroup>
											<tr>
												<td>현재 비밀번호</td>
												<td>
													<input type="hidden" id="memId" th:value="${#authentication.name}">
													<input type="password" id="nowPwd" class="form-control">
												</td>
											</tr>
											<tr>
												<td>변경할 비밀번호</td>
												<td>
													<input type="password" id="changePwd" class="form-control">
												</td>
											</tr>
											<tr>
												<td>비밀번호 중복 체크</td>
												<td>
													<input type="password" id="checkPwd" class="form-control">
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col d-gird">
										<input type="button" value="비밀번호 변경" onclick="updatePwByCk();"
											class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="modal fade" id="weatherModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog"
				style="position: fixed; top: 5%; left: 5%; right: 5%; bottom: 5%; display: flex; align-items: center; justify-content: center; width: 80%; height: 80%;">
				<div class="modal-content"
					style="max-width: 100%; max-height: 100%; background: #fff; padding: 20px; border-radius: 8px; overflow: auto;">
					<div class="modal-header" style="margin-bottom: 20px;">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<!-- 날씨 클릭했을 때 모달 바디 안에 들어갈 날씨 API 내용 -->
					<div class="weathermodal-body">
						<link rel="stylesheet" href="/css/content/stu/weather/WeatherStyle.css">
						<div container="weatherModal-container">
							<div class="weathersearch-box">
								<i class="fa-solid fa-location-dot"></i>
								<input type="text" placeholder="영문으로 위치 입력!">
								<button class="fa-solid fa-magnifying-glass"></button>
							</div>

							<div class="not-found">
								<img src="/image/weatherimage/404.png" alt="Weather Image">
								<p>날씨정보가 없어요! :/</p>
							</div>

							<div class="weather-box">
								<img src="">
								<p class="temperature"></p>
								<p class="description"></p>
							</div>

							<div class="weather-details">
								<div class="humidity">
									<i class="fa-solid fa-water"></i>
									<div class="text">
										<span></span>
										<p>습도</p>
									</div>
								</div>
								<div class="wind">
									<i class="fa-solid fa-wind"></i>
									<div class="text">
										<span></span>
										<p>풍속</p>
									</div>
								</div>
							</div>
						</div>
						<script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
						<script src="/js/content/weather/weatherFunction.js"></script>
					</div>



					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>



		<!-- Chatgpt Modal 쳇지피티 모달 -->
		<!-- 모달 요소 -->
		<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- 모달 헤더 부분 추가 -->
					<div class="modal-header">

						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>


					<!-- 모달 바디 부분에 코드 추가 -->
					<div class="Chatmodal-body">
						<link rel="stylesheet" type="text/css" href="/css/content/chatbot/chatbot.css">
						<div class="AllChatcontainer">
							<div class="Chatheader">
								<h3>KH대학교 학생 웹 서비스 챗봇</h3>
							</div>

							<div class="info">
								<a href="" target="_blank"> 학사관리 시스템 </a>
								<!-- 학사 관리 시스템으로 리다이렉트 -->
							</div>

							<div class="chat-container">
								<div id="chat-log"></div>
							</div>

							<div class="input-container">
								<input type="text" id="user-input" placeholder="메세지를 보내주세요." />
								<button id="send-button">
									<i class="fa-solid fa-paper-plane" id="button-icon"></i>
								</button>
							</div>
						</div>
					</div>

					<script src="/js/content/chatbot/chatbot.js"></script>

					<!-- 모달 푸터 부분 추가-->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/content/member/change_mem_pw.js"></script>
		<script type="text/javascript" src="/js/content/member/change_mem_info.js"></script>
	</th:block>
</body>

</html>