<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">


<div class="col"  style="background-color: white; display: flex; justify-content: space-between; height: 45px;  align-items: center; width: 90%; "  >
	<span style="text-align: left;  font-size:25px;" >
		<a th:href="@{/}">  <img src="/image/khLogo3.png" style="width: 250px;"> 학사행정웹서비스</a>
	</span>	
	<span>
		<span>🕦 남은 시간 : 34:22</span>
		<input type="button" value="연장">
		<input type="button" class="btn btn-primary" value="Name 🔧" style="border-radius: 20px;">
	</span>
</div>
</th:block>

</html>