<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">


<div class="col"  style="background-color: white; display: flex; justify-content: space-between; height: 45px;  align-items: center; width: 90%; "  >
	<span style="text-align: left;  font-size:25px;" >
		<a th:href="@{/mainPage}">  <img src="/image/khLogo3.png" style="width: 250px;"> 학사행정웹서비스</a>
	</span>	
	<span>
		<span>🕦 남은 시간 : 34:22</span>
		<input type="button" value="연장">
		<span class="btn-group name">
			<button class="btn btn-secondary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
		  	   길동이 🔧
		 	</button>
		  	
			  <ul class="dropdown-menu">
			    <li>색 변경 공간.</li>
			    <li>비밀번호 변경<hr></li>
			    <li><a th:href="@{/}">로그아웃</a></li>
			  </ul>
		 </span>
	</span>
</div>
</th:block>

</html>