<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="infoSideFragment">
<link rel="stylesheet" href="/css/fragment/info_side.css">
<div class="row info_side_row">
<div class="div-container">
	<div class="div-left mt-3">
		<table>
			<th:block th:each="menu : ${menuList}">
				<tr class="submenuTr" th:classappend="${menu.menuCode} == ${memberSubMenuVO.menuCode} ? 'active' : ''">
					<td class="list-group-item submenuTd" th:onclick="mainMenu([[${menu.menuCode}]],[[${menu.menuUrl}]]);">[[${menu.menuName}]]</td>
				</tr>
			</th:block>
		</table>
	</div>
	<div class="div-center pt-3">
		<table>
		<th:block th:each="menu : ${menuList}">
			<th:block th:each="subMenu : ${subMenuList}">					
					<th:block th:if="${menu.menuCode == subMenu.menuCode}">
						<tr>
							<td class="list-group-item submenuTd"
								th:onclick="subMenu([[${subMenu.subMenuCode}]],[[${subMenu.subMenuUrl}]],[[${menu.menuCode}]]);">
								[[${subMenu.subMenuName}]]</td>
						</tr>
					</th:block>
			</th:block>			
		</th:block>			
		</table>	
	</div>	
	
</div>


		

		<!-- Ajax때매 j쿼리 문법 넣어줌 -->
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/fragment/info_side.js"></script>
</th:block>

</html>