<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="infoSideFragment">
<link rel="stylesheet" href="/css/fragment/info_side.css">
<div class="row">
	<div>
		<span>
			
			<input type="search" class="menuSearch"  placeholder="🔎   메뉴를 검색하세요."> 
		</span>
	</div>
	<div> </div>

[[${subMenuCode}]]
<div class="div-container">
	<div class="div-left">
		<table>
			<th:block th:each="menu : ${menuList}">
				<tr>
					<td class="list-group-item submenuTd" th:onclick="mainMenu([[${menu.menuCode}]],[[${menu.menuUrl}]]);">
						✨ [[${menu.menuName}]]</td>
				</tr>
			</th:block>	
		</table>
	</div>
	<div class="div-center">
		<table>
		<th:block th:each="menu : ${menuList}">
			<th:block th:each="subMenu : ${subMenuList}">					
					<th:block th:if="${menu.menuCode == subMenu.menuCode}">
						<tr>
							<td class="list-group-item submenuTd"
								th:onclick="subMenu([[${subMenu.subMenuCode}]],[[${subMenu.subMenuUrl}]],[[${menu.menuCode}]]);">
								🍒 [[${subMenu.subMenuName}]] <br></td>
						</tr>
					</th:block>
			</th:block>			
		</th:block>			
		</table>	
	</div>	
	
</div>


		

		<!-- Ajax때매 j쿼리 문법 넣어줌 -->
</div>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/fragment/info_side.js"></script>
</th:block>

</html>