<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="professorSideFragment">
	<link rel="stylesheet" href="/css/fragment/professor_side.css">
	<div class="row main_div">
		<div class="col-6 menu_name_div">
			<ul class="menu_ul pt-3">
				<th:block th:each="professorMenu:${professorMenuList}">
					<li class="main_menu_li" th:classappend="${professorMenu.menuCode} == ${professorMenuVO.menuCode} ? 'active' : ''"><a href="#"
						th:onclick="moveByMenuCode([[${professorMenu.menuCode}]],[[${professorMenu.menuUrl}]])">[[${professorMenu.menuName}]]</a></li>
				</th:block>
			</ul>
		</div>
		<div class="col-6">
			<ul class="subMenu_ul">
				<th:block th:each="subMenu:${professorSubMenuList}">
					<li><a href="javascript:void(0)"
						th:onclick="moveBySubMenuCode([[${subMenu.subMenuCode}]],[[${subMenu.subMenuUrl}]])">[[${subMenu.subMenuName}]]</a></li>
				</th:block>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="/js/fragment/professor_side.js"></script>
</th:block>
</html>