<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/stu/stu_class/application.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 15px; color: blue; font-weight: bold;">즐겨찾기 ☆</div>
<div style="font-size: 20px; color: red; font-weight: bold;" >학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red;" class="default_info">
		<tr>
			<td>학번</td>
			<td><input type="text" readonly></td>
			<td>성명</td>
			<td><input type="text" readonly></td>
			<td>학년</td>
			<td><input type="text" readonly></td>
			<td>학적상태</td>
			<td><input type="text" readonly></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
	<button onclick="plus();" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</div>
<br>
<input type="hidden" th:value="${subMenuCode}" class="subMenuCode">
<input type="hidden" th:value="${menuCode}"  class="menuCode">

<form th:action="@{/stuMenu/application}" method="post" id="orderForm">
	<input type="hidden" value="" name="orderBy">
	<input type="hidden" th:value="${menuCode}" name="menuCode"> 
	<input type="hidden" th:value="${subMenuCode}" name="subMenuCode"> 
	<div class="searchAply">
		단과대학
		<select class="colleage" th:onchange="updateDept([[${menuCode}]], [[${subMenuCode}]])" name="searchColl">
			<th:block th:each="colleage : ${colleageVO}" >
				<option th:value="${colleage.collNo}">						
						[[${colleage.collName}]]		
				</option>
			</th:block>
		</select>
		소속학과
		<select class="dept" th:onchange="updateLecture([[${menuCode}]], [[${subMenuCode}]])" name="searchDept">
			<th:block th:each="dept : ${deptVO}" >
				<option th:value="${dept.deptNo}">						
						[[${dept.deptName}]]		
				</option>
			</th:block>
		</select>
		</div>
	<div class="searchAply">
		<select class="size"  name="searchKeyword">
			<option value="LEC_NAME" >교과목명</option>
			<option value="MEM_NAME">교수명</option>
			<!-- 셀렉트 박스 옵션 추가 -->
	 	 </select>
		
		<input type="text" placeholder="교과목명 혹은 교수명을 입력해주세요" class="headerText" name="searchValue" >
		<input type="submit" class="btn btn-danger search" value="검색" >
	</div>
	<h8>🌐 수강 신청</h8> 
		<input type="button" class="btn btn-primary" value="학점순"  onclick="getOrderBy('LEC_SCORE');">		
		<input type="button" class="btn btn-primary" value="인기순"  onclick="getOrderBy('NOW_MEM');">
</form>

<div class="detail_info">
	<table class="table table-striped table-hover text-center align-middle">
		<!-- align-middle 하면 테이블 중간에 표시. -->
		<colgroup>
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
		</colgroup>
		<thead>
			<tr>
				<td>강의코드</td>
				<td>교과목명</td>
				<td>강의 학점</td>
				<td>단과대학</td>
				<td>학과</td>
				<td>교수</td>
				<td>강의 날짜 / 시간</td>
				<td>최대인원</td>
				<td>현재인원</td>
				<td>학기</td>
				<td>수강 신청</td>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${#lists.size(lectureListVO) == 0}">
				<tr>
					<td colspan="13">수강 신청 날이 아닙니다.</td>
				</tr>
			</th:block>
			<th:block th:if="${#lists.size(lectureListVO) != 0}">
				<tr th:each="lectureList : ${lectureListVO}">
					<td>[[${lectureList.lecNo}]]</td>
					<td><a th:href=@{/professor/getPdfAjax(lecNo=${lectureList.lecNo})}>[[${lectureList.lecName}]]</a></td>
					<td>[[${lectureList.lecScore}]]</td>
					<td>[[${lectureList.colleageVO.collName}]]</td>
					<td>[[${lectureList.deptVO.deptName}]]</td>
					<td>[[${lectureList.memName}]]</td>
					<td>
						<th:block th:each="lecTime : ${lectureList.lectureTimeList}">
							<div>
								[[${lecTime.lecDay}]] / [[${lecTime.startTime}]] ~ [[${lecTime.finishTime}]]
							</div>
						</th:block>
					</td>
					<td>[[${lectureList.maxMem}]]</td>
					<td>[[${lectureList.nowMem}]]</td>
					<td>[[${lectureList.semesterVO.semName}]]</td>
					<td>
						<input style="display: block;" type="button" value="수강신청" class="applyLecture btn btn-primary" th:onclick="apllication([[${lectureList.lecNo}]], [[${lectureList.maxMem}]], [[${lectureList.nowMem}]], [[${lectureList.semNo}]] , [[${memberVO.stuVO.stuNo}]], [[${menuCode}]], [[${subMenuCode}]], this)">
						<input style="display: none;" type="button" value="신청완료" class="duplication btn btn-danger" >
					</td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>
<br>

<h8>🌐 수강 신청 내역 확인</h8>
<table class="table table-striped table-hover text-center align-middle">
		<!-- align-middle 하면 테이블 중간에 표시. -->
		<colgroup>
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
			<col width="*">
		</colgroup>
		<thead>
			<tr>
				<td>강의코드</td>
				<td>교과목명</td>
				<td>강의 학점</td>
				<td>단과대학</td>
				<td>학과</td>
				<td>교수</td>
				<td>강의 날짜 / 시간</td>
				<td>최대인원</td>
				<td>현재인원</td>
				<td>학기</td>
				<td>수강 신청</td>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${#lists.size(applyLecture) == 0}">
				<tr>
					<td colspan="13">수강 신청 내역이 없습니다.</td>
				</tr>
			</th:block>
			<th:block th:if="${#lists.size(applyLecture) != 0}">
					<tr th:each="applyLecture : ${applyLecture}">
						<td class="applyLecNo">
							[[${applyLecture.lecNo}]]
						</td>
						<td>
							[[${applyLecture.lecName}]]
						</td>
						<td>
							[[${applyLecture.lecScore}]]
						</td>
						<td>
							[[${applyLecture.colleageVO.collName}]]
						</td>
						<td>
							[[${applyLecture.deptVO.deptName}]]
						</td>
						<td>
							[[${applyLecture.memName}]]
						</td>
						<td>
							<th:block th:each="lecTime : ${applyLecture.lectureTimeList}">
								<div>
									[[${lecTime.lecDay}]] / [[${lecTime.startTime}]] ~ [[${lecTime.finishTime}]]
								</div>
							</th:block>
						</td>
						<td>[[${applyLecture.maxMem}]]</td>
					<td>[[${applyLecture.nowMem}]]</td>
					<td>[[${applyLecture.semesterVO.semName}]]</td>
					<td>
						<input type="button" value="수강취소" class="btn btn-danger"
						th:onclick="cancel([[${applyLecture.lecNo}]], [[${applyLecture.maxMem}]], [[${applyLecture.nowMem}]], [[${applyLecture.semNo}]] , [[${memberVO.stuVO.stuNo}]], [[${menuCode}]], [[${subMenuCode}]])">
					</td>
					</tr>
			</th:block>
			</tbody>
	</table>
SELECT
		LEC.LEC_NO
		, LEC_NAME
		, LEC_SCORE
		, COLL_NAME
		, DEPT_NAME
		, MAX_MEM
		, NOW_MEM
		, LEC_DAY
		, START_TIME
		, FINISH_TIME
		, ATTACHED_PDF_NAME
		, ORIGIN_PDF_NAME
		, TO_CHAR(CREATE_DATE, 'YYYY') AS CREATE_DATE
		, LEC_STATUS
		, SEM_NAME
		, UM.MEM_NAME
		, TIME_NO
		, SEM.SEM_NO
        , US.STU_NO
    FROM LECTURE LEC
		, COLLEAGE COL
		, DEPT DEPT
		, UNI_MEMBER UM
		, LECTURE_TIME LT
		, SEMESTER SEM
		, LECTURE_PDF LP
		, UNI_STU US
		, ENROLLMENT EN
		WHERE LEC.COLL_NO = COL.COLL_NO
		AND LEC.DEPT_NO =
		DEPT.DEPT_NO
		AND UM.MEM_NO = LEC.EMP_NO
		AND LT.LEC_NO = LEC.LEC_NO
		AND
		SEM.SEM_NO = LEC.SEM_NO
		AND LP.LEC_NO = LEC.LEC_NO
		AND EN.LEC_NO = LEC.LEC_NO
		AND EN.STU_NO = US.STU_NO
        AND US.STU_NO = '20230005';
   얘량
   SELECT * FROM ENROLLMENT;
   얘 MERGE INTO 해서 중복값 제거하기.

	
	
</th:block>


<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/stu/stu_class/application.js"></script>
</th:block>

</html>