@charset "UTF-8";

.login_page{
	min-height: 85vh;
}

.login_backgroung{
	margin-top: 5rem;
	width: 130vh;
	height: 60vh;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	background-size: cover; /* 배경 이미지를 컨테이너에 맞게 조정 */
	background-position: center; /* 배경 이미지를 가운데 정렬 */
	z-index: 0;
	overflow: hidden; /* 이미지 영역을 넘어가는 부분은 숨김 */
	position: relative; /* 자식 요소를 포함하기 위해 상대적 위치 설정 */
	transition: background-image 1s ease-in-out; /* 페이드 애니메이션 속성 설정 */
}

/* kr, en선택시 밑줄 및 글자색 */
.bd_bottom{
	border-bottom: 2px solid red;
}
.bd_bottom > a{
	color:red;
}

.login_input{
	height: 50vh;
	background-color: #eee0ce;
	width: 60%;
	float: right;
	text-align: center;
	margin-top: -40vh;
	position: relative;
	z-index: 100;
	border-top-left-radius: 2rem;
}

.login_input .col-8{
	font-weight: bold;
}

/* 학사행정웹서비스 타이틀 */
.login_page_title{
	font-size: 20px;
}

/* 아이디 찾기, 비밀번호 찾기 */
.note li{
	font-size: 14px;
}

/* 아이디 찾기 모달창 */
#findIdModal .modal-dialog,#findPwModal .modal-dialog{
	transform: translateY(50%);
}


/* 개인정보처리방침, 이메일무단수집거부 */
.login_footer{
	background-color: #eee0ce;
	width: 60%;
	float: right;
	text-align: center;
	position: relative;
	z-index: 100;
	background-color: #d3c4b2;
	color: #9a9084;
	font-size: 15px; 
	height: 40px;
}

/* 개인정보처리방침, 이메일무단수집거부 */
.login_footer .row{
	height: 100%;
	align-items: center;
}

/* 로그인 버튼 */
.login_btn{
	height: 75px;
	width: 75px;
}

/* 아이디찾기 비밀번호찾기 정렬 */
.iuput_info span::before{padding-right: 3vh; padding-left: 2vh; content: "|"; color: #d3c4b2}
.iuput_info span:first-child::before{content: ""; padding: 0}

/* 서브메뉴 정렬 */
.sub_menu span::before{padding-right: 5px; content: "|"; color: #d3c4b2}
.sub_menu span:first-child::before{content: ""}

/* 차트관련 */
.chart_wrap{
	height: 100%;
}

.employment_chart{
	margin-top: 200px;
	height: 100%;
}

.empolyment_rate{
	border: 1px solid #897c76;
	background-color: #897c76;
	color: white;
	font-size: 20px;
	border-radius: 5px;
}

.pie-chart{
	display: flex;
	justify-content: center;
}


/* 차트관련 */


.iuput_info{
	text-align: left;
}


