@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

.ul-game{
	list-style: none;
	background-color: white;
}
.playground li{
	background-color: black;
}

body{
	height: 100%;
	overflow: hidden;
}

.score{
	text-align: center;
	font-size: 36px;
	margin-bottom: 2rem;
}

.playground > ul{
	border: 3px solid #333;
	width: 400px;
	margin: 0 auto;
}

.playground > ul > li{
	width: 100%;
	height: 25px;
}

.playground > ul > li > ul{
	display: flex;
}

.playground > ul > li > ul > li{
	width: 25px;
	height: 25px;
	outline: 1px solid #ccc;
}

.tree{
	background: #67c23a;
}
.bar{
	background: salmon;
}

.zee{
	background: gray;
}

.elLeft{
	background: lime;
}
.elRight{
	background:orange;
}
.square{
	background:blue;
}
