@charset "UTF-8";

.detail_info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #897c76;
    border-bottom: 1px solid #897c76;
    margin: 10px 0;
    background: #ebe7e3;
    overflow: hidden;
    padding: 6px 6px 1px 6px;
}

table.detail_info{
	width: 100%;
	margin: 10px;
	padding: 10px;
}
table.detail_info td{
	margin: 10px;
	padding: 5px;
}

table.default_info{
	width: 100%;
}

table.default_info input{
	background-color: #D3D3D3;
}
table.default_info td{
	width: 100px;
	padding: 5px;
}
input[type="text"]{
	width: 120px;
	border-radius: 4px;
}

.cahtting{
	width: 100%;
	
}

#conversation{
	height: 500px;	
}

/* 채팅방 기능 */

#name{
	width: 100%;
}