<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/professor_layout}">
  
<!-- 연결해야 할 외부 css파일 -->  
<th:block layout:fragment="content_css">
  	 <link rel="stylesheet" href="/css/content/professor/lec_schedule.css"> 
</th:block>

<th:block layout:fragment="content">
<div class="row lec_schedule">
		<div class="col">
			<div class="row mb-5 mt-5">
				<div class="col-12 page_title">
					<h3>강의 시간표</h3>
				</div>
			</div>
			<div class="row mb-5 text-end">
				<div class="col-12">
					<button class="btn btn-primary" onclick="pdfPrint()">강의시간표 다운로드</button>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<table class="table align-middle text-center schedule_table">
						<colgroup>
							<col width="10%">
							<col width="18%">
							<col width="18%">
							<col width="18%">
							<col width="18%">
							<col width="18%">
						</colgroup>
						<thead>
							<tr>
								<td></td>
								<td>월</td>
								<td>화</td>
								<td>수</td>
								<td>목</td>
								<td>금</td>
							</tr>
						</thead>
						<tbody class="schedule_tbody">
							<tr>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>


<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/lib/jspdf.min.js"></script>
	<script type="text/javascript" src="/lib/html2canvas.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  	<script type="text/javascript" src="/js/content/professor/lecture_schedule.js"></script>
</th:block>
</html>