<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/professor_layout}">
  
<!-- 연결해야 할 외부 css파일 -->  
<th:block layout:fragment="content_css">
  	<!-- <link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
<div class="row">
		<div class="col">
			<div class="row mb-5 mt-5">
				<div class="col-12">
					<h3>강의 시간표</h3>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<table class="table align-middle text-center">
						<colgroup>
							<col width="10%">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
						</colgroup>
						<thead>
							<tr>
								<td>시간</td>
								<td>월</td>
								<td>화</td>
								<td>수</td>
								<td>목</td>
								<td>금</td>
							</tr>
						</thead>
						<tbody>
							<!-- 시간 범위를 정의합니다 (09:00부터 18:00까지 1시간 단위) -->
							<th:block th:each="hour : ${#numbers.sequence(9, 18)}">
								<tr>
									<!-- 시간을 표시합니다 -->
									<td th:text="${#strings.format('%02d:00', hour)}">
									</td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '월' && lectureTimeVO.startTime == hour + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '화' && lectureTimeVO.startTime == hour + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '수' && lectureTimeVO.startTime == hour + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '목' && lectureTimeVO.startTime == hour + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '금' && lectureTimeVO.startTime == hour + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
								</tr>
								<tr th:if="${hour + 1 <= 18}">
									<!-- 두 번째 시간 슬롯 -->
									<th></th>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '월' && lectureTimeVO.startTime == (hour + 1) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '화' && lectureTimeVO.startTime == (hour + 1) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '수' && lectureTimeVO.startTime == (hour + 1) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '목' && lectureTimeVO.startTime == (hour + 1) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '금' && lectureTimeVO.startTime == (hour + 1) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
								</tr>
								<tr th:if="${hour + 2 <= 18}">
									<!-- 세 번째 시간 슬롯 -->
									<th></th>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '월' && lectureTimeVO.startTime == (hour + 2) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '화' && lectureTimeVO.startTime == (hour + 2) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '수' && lectureTimeVO.startTime == (hour + 2) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '목' && lectureTimeVO.startTime == (hour + 2) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
									<td
										th:text="${lectureList.?[lectureTimeVO.lecDay eq '금' && lectureTimeVO.startTime == (hour + 2) + ':00' && lectureTimeVO.lecDuration == 1].![lecName]}"></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
  	<!-- <script type="text/javascript" src="js/test.js"></script> -->
</th:block>
</html>