<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/professor_layout}">
  
<!-- 연결해야 할 외부 css파일 -->  
<th:block layout:fragment="content_css">
  	<!-- <link rel="stylesheet" href=""> -->
</th:block>

<th:block layout:fragment="content">
<div class="row">
		<div class="col-12">
			<div class="row mb-3 mt-5">
				<div class="col-12 page_title">
					<h4>강의 리스트</h4>
				</div>
			</div>
			<div class="row text-center mb-3 justify-content-around search_row">
				<div class="col-2 d-flex align-items-center justify-content-center search_radio">
					<span><input class="lec_status" type="radio" name="lecStatus" value="all" checked>전체 </span>						
					<span><input class="lec_status" type="radio" name="lecStatus" value="Y">강의중 </span>						
					<span><input class="lec_status" type="radio" name="lecStatus" value="N">폐강</span>					
				</div>
				<div class="col-4 d-grid">
					<select>
						<th:block th:each="seme : ${semesterList}">
							<option class="semNo" th:value="${seme.semNo}">[[${seme.semName}]]</option>
						</th:block>
					</select>
				</div>
				<div class="col-4 d-grid">
					<input type="text" id="lecName" placeholder="교과목명을 입력하세요.">
				</div>
				<div class="col-2 d-grid">
					<input class="btn btn-primary" type="button" value="검색" onclick="getLetureList()">
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<table class="table w-100 align-middle text-center">
						<colgroup>
							<col width="*">
							<col width="*">
							<col width="*">
							<col width="*">
						</colgroup>
						<thead>
							<tr>
								<td>교과목명</td>
								<td>학점</td>
								<td>단과대학</td>
								<td>학과</td>
							</tr>
						</thead>
						<tbody id="lecture_list_body">
							<th:block th:if="${#lists.size(lectureList) != 0}">
								<th:block th:each="lecture,state : ${lectureList}">
									<tr th:onclick="getLecStuList([[${lecture.lecNo}]])">
										<td>[[${lecture.lecName}]]</td>
										<td>[[${lecture.lecScore}]]</td>
										<td>[[${lecture.colleageVO.collName}]]</td>
										<td>[[${lecture.deptVO.deptName}]]</td>
									</tr>
								</th:block>
							</th:block>
							<th:block th:unless="${#lists.size(lectureList) != 0}">
								<tr>
									<td colspan="10">
										조회된 강의가 없습니다.
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="row mb-3 mt-5">
				<div class="col-12">
					<h4>강의 학생 리스트</h4>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<table class="table w-100 align-middle text-center">
						<colgroup>
							<col width="10%">
							<col width="10%">
							<col width="20%">
							<col width="25%">
							<col width="5%">
							<col width="5%">
							<col width="15%">
							<col width="*">
						</colgroup>
						<thead>
							<tr>
								<td>학번</td>
								<td>이름</td>
								<td>단과대학</td>
								<td>학과</td>
								<td>학년</td>
								<td>성적</td>
								<td>성적변경</td>
								<td></td>
							</tr>
						</thead>
						<tbody id="lec_stu_list_body">
							<tr>
								<td colspan="8">
									수강 신청한 학생이 없습니다.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
  	 <script type="text/javascript" src="/js/content/professor/reg_grade.js"></script>
</th:block>
</html>