@charset "UTF-8";

@charset "UTF-8";

.detail_info {
    background:#897c76;
}

.detail_infos{
	background: #D3D3D3;
}

table.detail_info{
	width: 100%;
	margin: 10px;
	padding: 10px;
}

table.detail_infos{
	width: 100%;
	margin: 10px;
	padding: 10px;
}
table.detail_infos td{
	padding: 5px;
}

table.detail_info td{
	padding: 5px;
}

table.detail_info td:nth-child(odd){
	width: 150px;
}

table.detail_info td:nth-child(even){
	background-color:#ebe7e3;
	font-weight: bold;
}
/* 홀수 번째 td 요소에 white 배경색 적용 */
.detail_info tr td:nth-child(odd) {
    color: white;
    font-weight: bold;
    text-align: center;
}
.detail_info tr td:nth-child(even) {
    text-align: center;
}


textarea{
	 width: 100%;
	 height: 300px;
}

table.default_info{
	width: 100%;
}

table.default_info input{
	background-color: #D3D3D3;
}
table.default_info td{
	width: 100px;
	padding: 5px;
}
input[type="text"]{
	width: 120px;
	border-radius: 4px;
}

.a1{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.a2{
	font-weight: bold;
	text-align: center;
}
.b1{
	color: blue;
	font-weight: bold;
}