<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/stu/stu_myStu/moveManage.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 15px; color: blue; font-weight: bold;">즐겨찾기 ☆</div>
<div style="font-size: 20px; color: red; font-weight: bold;" >학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red;" class="default_info">
		<tr>
			<td>학번</td>
			<td><input type="text" readonly></td>
			<td>성명</td>
			<td><input type="text" readonly></td>
			<td>학년</td>
			<td><input type="text" readonly></td>
			<td>학적상태</td>
			<td><input type="text" readonly></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
	<button onclick="plus();" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</div>
<br>
<h3>전과 신청</h3>
<table border="1" class="detail_info" th:each="stu : ${stuVO}">
	<tr>
		<td>이름</td>
		<td>[[${stu.memName}]]</td>
		<td>학번</td>
		<td>[[${stu.memNo}]]</td>
		<td>학년</td>
		<td></td>
	</tr>
	<tr>
		<td>전공대학</td>
		<td>[[${stu.colleageVO.collName}]]</td>
		<td>전공학과</td>
		<td>[[${stu.deptVO.deptName}]]</td>
		<td>복수전공</td>
		<td></td>
	</tr>
	<tr>
		<td>성별</td>
		<td>[[${stu.memGender}]]</td>
		<td>생년월일</td>
		<td>[[${stu.stuVO.stuYear}]]</td>
		<td>학적상태</td>
		<td>[[${stu.stuVO.stuStatus}]]</td>
	</tr>
</table>

<table border="1" class="detail_info" th:each="stu : ${stuVO}">
	<tr>
		<td>현재 전공 대학</td>
		<td>[[${stu.colleageVO.collName}]]</td>
		<td>현재 전공 학과</td>
		<td>
			<input type="hidden" class="currentDept" th:value="${stu.deptVO.deptName}">
			[[${stu.deptVO.deptName}]]
		</td>
	</tr>
	<tr>
		<td>변경 전공 대학</td>
		<td> 
			<select class="colleage">
				<th:block th:each="colleage : ${colleageVO}" >
					<option th:value="${colleage.collNo}">						
							[[${colleage.collName}]]		
					</option>
				</th:block>
			</select>	
		</td>
		<td>변경 전공 학과</td>
		<td>
			<select class="dept">
				<th:block th:each="dept : ${deptVO}" >
					<option th:value="${dept.deptNo}">						
							[[${dept.deptName}]]		
					</option>
				</th:block>
			</select>
		</td>
	</tr>
</table>
<table border="1" class="detail_info">
	<tr>
		<td>전과 사유</td>
		<td><textarea placeholder="전과 사유를 작성하세요." rows="4" cols="30" class="applyReason"></textarea></td>
	</tr>
</table>
<div style="text-align: center;">
	<input type="button" value="전과 신청" class="btn btn-primary" onclick="moveManage();">
</div>
</th:block>


<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/stu/stu_myStu/moveManage.js"></script>
</th:block>

</html>