<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/stu/stu_myStu/moveManage.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 20px; color: red; font-weight: bold; margin: 10px;" >🧑‍🎓학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red; " class="default_info">
		<tr th:each="member : ${memberVO}">
			<td>학번</td>
			<td><input type="text" readonly th:value="${member.memNo}"> </td>
			<td>성명</td>
			<td><input type="text" readonly th:value="${session.memberVO.memName}"></td>
			<td>학년</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuYear}">
			</td>
			<td>학적상태</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuStatus}" ></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
<th:block th:each="processStatus : ${deptManageVO}">
	<tr >
		<td><input type="hidden" th:value="${processStatus.processStatus}" class="processStatus"></td>
		<td><input type="hidden" th:value="${processStatus.colleageVO.collName}" class="doubleCollName"></td>
		<td><input type="hidden" th:value="${processStatus.deptVO.deptName}" class="doubleDeptName"></td>
	</tr>
</th:block>

<th:block th:each="member : ${memberVO}">
	
	<button th:onclick="plus([[${member.memNo}]], [[${member.memName}]], [[${member.stuVO.stuYear}]] , [[${member.stuVO.stuStatus}]] , [[${memberVO.colleageVO.collName}]] , [[${memberVO.deptVO.deptName}]]  );" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</th:block>
</div>
<br>
<h3>전과 신청</h3>
<table border="1" class="detail_info" th:each="member : ${memberVO}">
	<tr>
		<td>이름</td>
		<td>[[${member.memName}]]</td>
		<td>학번</td>
		<td>[[${member.memNo}]]</td>
		<td>학년</td>
		<td></td>
	</tr>
	<tr>
		<td>전공대학</td>
		<td>[[${member.colleageVO.collName}]]</td>
		<td>전공학과</td>
		<td>[[${member.deptVO.deptName}]]</td>
		<td>복수전공</td>
		<td></td>
	</tr>
	<tr>
		<td>성별</td>
		<td>[[${member.memGender}]]</td>
		<td>생년월일</td>
		<td>[[${member.stuVO.stuYear}]]</td>
		<td>학적상태</td>
		<td>[[${member.stuVO.stuStatus}]]</td>
	</tr>
</table>

<table border="1" class="detail_info" th:each="member : ${memberVO}">
	<tr>
		<td>현재 전공 대학</td>
		<td>[[${member.colleageVO.collName}]]</td>
		<td>현재 전공 학과</td>
		<td>
			<input type="hidden" class="currentDept" th:value="${member.deptVO.deptName}">
			[[${member.deptVO.deptName}]]
		</td>
	</tr>
	<tr>
		<td>변경 전공 대학</td>
		<td> 
			<select class="colleage" th:onchange="updateDept([[${menuCode}]], [[${subMenuCode}]]);">
				<th:block th:each="colleage : ${colleageVO}" >
					<option th:value="${colleage.collNo}" >						
							[[${colleage.collName}]]		
					</option>
				</th:block>
			</select>	
		</td>
		<td>변경 전공 학과</td>
		<td>
			<select class="dept">
				<th:block th:each="dept : ${deptVO}" >
					<option th:value="${dept.deptNo}">						
							[[${dept.deptName}]]		
					</option>
				</th:block>
			</select>
		</td>
	</tr>
</table>
<th:block th:each=" deptManageVO : ${deptManageVO}">
<input type="hidden" th:value="${deptManageVO.processStatus}" class="processStatus">
</th:block>
<table border="1" class="detail_info">
	<tr>
		<td>전과 사유</td>
		<td><textarea placeholder="전과 사유를 작성하세요." rows="4" cols="30" class="applyReason"></textarea></td>
	</tr>
</table>
<div style="text-align: center;">
	<input type="button" value="전과 신청" class="btn btn-primary" th:onclick="moveManage();">
</div>
</th:block>



<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/stu/stu_myStu/moveManage.js"></script>
</th:block>

</html>