<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/stu/stu_myStu/returnManage.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 20px; color: red; font-weight: bold; margin: 10px;" >🧑‍🎓학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red; " class="default_info">
		<tr th:each="member : ${memberVO}">
			<td>학번</td>
			<td><input type="text" readonly th:value="${member.memNo}"> </td>
			<td>성명</td>
			<td><input type="text" readonly th:value="${member.memName}"></td>
			<td>학년</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuYear}">
			</td>
			<td>학적상태</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuStatus}" ></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
<th:block th:each="processStatus : ${deptManageVO}">
	<tr >
		<td><input type="hidden" th:value="${processStatus.processStatus}" class="processStatus"></td>
		<td><input type="hidden" th:value="${processStatus.colleageVO.collName}" class="doubleCollName"></td>
		<td><input type="hidden" th:value="${processStatus.deptVO.deptName}" class="doubleDeptName"></td>
	</tr>
</th:block>

<th:block th:each="member : ${memberVO}">
	
	<button th:onclick="plus([[${member.memNo}]], [[${member.memName}]], [[${member.stuVO.stuYear}]] , [[${member.stuVO.stuStatus}]] , [[${memberVO.colleageVO.collName}]] , [[${memberVO.deptVO.deptName}]]  );" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</th:block>
</div>
<br>
<h3>복학 신청</h3>

<table border="1" class="detail_info" th:each="member : ${memberVO}">
	<tr>
		<td>이름</td>
		<td>[[${member.memName}]]</td>
		<td>학번</td>
		<td>[[${member.memNo}]]</td>
		<td>학년</td>
		<td>[[${member.stuVO.stuYear}]]</td>
	</tr>
	<tr>
		<td>전공대학</td>
		<td>[[${member.colleageVO.collName}]]</td>
		<td>전공학과</td>
		<td>[[${memberVO.deptVO.deptName}]]</td>
		<td>학적상태</td>
		<td>
			<input type="hidden" class="stuStatus" th:value="${member.stuVO.stuStatus}">
			[[${member.stuVO.stuStatus}]]
		</td>
	</tr>
</table>

<table border="1" class="detail_info">
	<tr>
		<td>복학 사유</td>
		<td><textarea placeholder="복학 사유를 작성하세요." rows="4" cols="100" class="applyReason" ></textarea></td>
	</tr>
</table>


<div style="text-align: center;">
	<th:block th:each="member : ${memberVO}">
		<input type="button" value="복학 신청" class="btn btn-primary" th:onclick="returnManage([[${member.memNo}]]);">
	</th:block>
</div>
<!-- 복학 중복체크 -->
<th:block th:if="${#lists.size(stuStatus) == 0}">
	<tr>
		<td class="beforeIngStatus">
			<input type="hidden" class="ingStatus" value="0">
		</td>
	</tr>
</th:block>
<th:block th:if="${#lists.size(stuStatus) != 0}">
	<tr th:each="stuStatus, state : ${stuStatus}">
		<td>
			<input type="hidden" class="ingStatus" th:value=${stuStatus.ingStatus}>
		</td>
	</tr>
</th:block> 

<th:block th:each="menuCode : ${menuList}">
		<input type="hidden" th:value="${menuCode}" class="menuCode">
</th:block>
<th:block th:each="subMenuCode : ${subMenuList}">
		<input type="hidden" th:value="${subMenuCode}" class="subMenuCode">
</th:block>

</th:block>
<div style="text-align: center;">
	<th:block th:each="member : ${memberVO}">
		<input type="button" value="복학 신청" class="btn btn-primary" th:onclick="returnManage([[${member.memNo}]]);">
	</th:block>
</div>
</th:block>


<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/stu/stu_myStu/returnManage.js"></script>
</th:block>

</html>