<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/stu/stu_myStu/returnManage.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 15px; color: blue; font-weight: bold;">즐겨찾기 ☆</div>
<div style="font-size: 20px; color: red; font-weight: bold;" >학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red;" class="default_info">
		<tr>
			<td>학번</td>
			<td><input type="text" readonly></td>
			<td>성명</td>
			<td><input type="text" readonly></td>
			<td>학년</td>
			<td><input type="text" readonly></td>
			<td>학적상태</td>
			<td><input type="text" readonly></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
	<button onclick="plus();" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</div>
<br>
<h3>복학 신청</h3>

<table border="1" class="detail_info" th:each="member : ${memberVO}">
	<tr>
		<td>이름</td>
		<td>[[${member.memName}]]</td>
		<td>학번</td>
		<td>[[${member.memNo}]]</td>
		<td>학년</td>
		<td></td>
	</tr>
	<tr>
		<td>전공대학</td>
		<td></td>
		<td>전공학과</td>
		<td></td>
		<td>복수전공</td>
		<td></td>
	</tr>
	<tr>
		<td>성별</td>
		<td></td>
		<td>생년월일</td>
		<td>[[${member.stuVO.stuYear}]]</td>
		<td>학적상태</td>
		<td>
			<input type="hidden" class="stuStatus" th:value="${member.stuVO.stuStatus}">
			[[${member.stuVO.stuStatus}]]
		</td>
	</tr>
</table>

<table border="1" class="detail_info">
	<tr>
		<td>복학 사유</td>
		<td><textarea placeholder="복학 사유를 작성하세요." rows="4" cols="100" class="applyReason" ></textarea></td>
	</tr>
</table>


<div style="text-align: center;">
	<th:block th:each="member : ${memberVO}">
		<input type="button" value="복학 신청" class="btn btn-primary" th:onclick="returnManage([[${member.memNo}]]);">
	</th:block>
</div>
<!-- 복학 중복체크 -->
<th:block th:if="${#lists.size(stuStatus) == 0}">
	<tr>
		<td class="beforeIngStatus">
			<input type="hidden" class="ingStatus" value="0">
		</td>
	</tr>
</th:block>
<th:block th:if="${#lists.size(stuStatus) != 0}">
	<tr th:each="stuStatus, state : ${stuStatus}">
		<td>
			<input type="text" class="ingStatus" th:value=${stuStatus.ingStatus}>
		</td>
	</tr>
</th:block> 

<th:block th:each="menuCode : ${menuCode}">
		<input type="hidden" th:value="${menuCode}" class="menuCode">
</th:block>
<th:block th:each="subMenuCode : ${subMenuCode}">
		<input type="hidden" th:value="${subMenuCode}" class="subMenuCode">
</th:block>

</th:block>
<div style="text-align: center;">
	<th:block th:each="member : ${memberVO}">
		<input type="button" value="복학 신청" class="btn btn-primary" th:onclick="returnManage([[${member.memNo}]]);">
	</th:block>
</div>
</th:block>


<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/stu/stu_myStu/returnManage.js"></script>
</th:block>

</html>