@charset "UTF-8";

.message_container{
	height: 50vh;	
}

.convers_list{
	padding: 0;
	padding-right: 10.5px;
	margin-left: 10.5px;
	height: 100%;
}

.one_convers{
	margin-left: 0px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown #memberDropdown {
	padding: 0;
	display: none;
	position: absolute;
	top: 100%;
	width: 200px;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: lighter;
	border: 0.5px solid silver;
	z-index: 1;
}

#memberDropdown > li {
	padding-left: 5px;
	width:100%;
	height: 30px;
	font-size: 14px;
	border-bottom: solid 0.5px silver;
}

.dropdown .show #memberDropdown {
 	display: block;
}

#memberDropdown > li:hover {
	background-color: #f4f4f4;
}

/* 대화창 날짜 표시 */
.convers_date{
	border-top: 0.5px solid silver;	
	border-bottom: 0.5px solid silver;	
}

.convers_list{
	height:71vh;
	max-height: 71vh; /* 원하는 높이로 설정 */
	overflow-y: auto;
}

.convers_list::-webkit-scrollbar{
	width: 15px;
}

.convers_list::-webkit-scrollbar-track{
	background-color: #f2f2f2;
}

.convers_list::-webkit-scrollbar-thumb{
	background-color: #897c76;
	border-radius: 10px;
}

.one_convers{
	border: 0.5px solid silver;
	border-radius: 5px;
}

.one_convers:hover{
	background-color:  #f2f2f2;
}

.recv_name{
	padding: 5px;
	border: 1px solid silver;
	border-radius: 5px;
	font-size: 24px;
	font-weight: bolder;
	background-color: #897c76;
	color: white;
}

.convers_content{
	height:71vh;
	max-height: 71vh;
	display: flex;
	flex-direction: column;
	border: 0.5px solid silver;
	border-radius: 5px;
}

/* 대화창 스크롤바 */
.content_list{
	max-height: 100%;
	overflow-y: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}

.content_list::-webkit-scrollbar{
	width: 15px;
}

.content_list::-webkit-scrollbar-track{
	background-color: #f2f2f2;
}

.content_list::-webkit-scrollbar-thumb{
	background-color: #897c76;
	border-radius: 10px;
}
/* 대화창 스크롤바 */

.convers_date{
	border-radius: 5px;
	margin: 0 auto;
	width: 20vw;
	background-color: #554d4a;
	font-size: 18px;
	color: white;
}

/* 대화내용 하나 */
.content{
	background-color: #897c76;
	font: white;
}

.convers_content > .send_message{
	justify-content: center;
	margin-top: auto;
	margin-bottom: 15px;
}

.nav-tabs{
	border-bottom: none;
}

.nav-link{
	color: black;
}

.nav-link.active {
  background-color: #897c76 !important;
  color: #FFF !important;
  border-bottom: 1px solid silver !important;
}