@charset "UTF-8";

@font-face {
    font-family: 'NotoKrR';
    font-style: normal;
    font-weight: normal;
    src: url('./images/notokr-regular.eot');
    src: url('./images/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('./images/notokr-regular.woff2') format('woff2'),
         url('./images/notokr-regular.woff') format('woff');
}

html,body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

*{
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'NotoKrR';
    font-weight: 400;
    font-style: normal;
}

a{
	text-decoration: none;
	color: black;
}

table{
	border-radius: 5px !important;
}

svg{
	color: blue;
}

/* 레이아웃 관련 */

.full_layout{
	width: 100%;
	min-height: 80vh;
	height: 100%;
	margin: 0;
}

.total_container{
	width: 100%;
	height: 100%;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}

.mainContainer{
	width: 100%;
	height: 100%;
}

.header_row{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 7vh;
	box-shadow: 0 2px 4px #897c76;
}

.side_row{
	padding: 0;
	margin: 0 0;
}

.content_row{
	height: 100%;
	padding-bottom: 40px;
	padding-right: 0;
	padding-left: 0;
	margin:0 auto;
	margin-top: 30px; 
}

.content_col{
	width: 95%;
	margin: 0 auto;
}

.bottom_row{
	background-color: #31343d;
	height: 15vh;
}

/* 레이아웃 관련 */

/* 각페이지 타이틀 */
.page_title{
	display: flex;
	padding: 10px 10px;
	border: 1px solid #897c76;
	border-radius: 5px;
	background-color: #897c76;
	color: white;
	font-weight: bolder;
	align-items: center;
}

h1,h2,h3,h4{
	margin: 0 0;
	margin-left: 5px;
	font-weight: bold;
}


/* 버튼 모음 */

.btn-primary{
	background-color: #897c76;
	color: white;	
	border-color: #897c76;
	box-shadow: 0 2px 4px #897c76;
	font-weight: bolder;
}

.btn-primary:hover{
	background-color: #554d4a;
	box-shadow: 0 2px 4px #554d4a;
}


.btn-primary:disabled{
	background-color: #c9c0bb;
	border-color: #c9c0bb;
	box-shadow: 0 2px 4px #c9c0bb;
}

.btn-success{
	border-color: #897c76;
	box-shadow: 0 2px 4px #897c76;
}

/* 버튼 모음 */

.msg_btn_wrap{
	width: 20px;
}

/* 인풋태그 */
input[type="text"]
, input[type="password"]
, input[type="date"]
, select
{
	height: 35px;
	border: none;
	border-radius: 5px;
	padding: 0px 5px;
	box-shadow: 0 2px 4px #897c76;
}


/* 인풋태그 */
input[type="text"]:focus
, input[type="password"]:focus
, input[type="date"]:focus
, select:focus
{
	 outline: none; /* 포커스 스타일 제거 */
}

textArea{
	border: none;
	border-radius: 5px;
	padding: 0px 5px;
	box-shadow: 0 2px 4px #897c76;
	resize: none;
}

/* 에러 메세지 */
.my-invalid {
	margin-top: 0px !important;
	font-size: 0.9rem;
	color: red;
}

/* 테이블 헤드 */
thead{
	background-color: #897c76;
	color: white;
	font-weight: 600;
}

/* 테이블 tr 호버시 색 변경 */
table tbody tr:hover{
	background-color: #f2f2f2;
}

/* 온클릭 커서 */
.onclick{
	cursor: pointer;
}

/* 메세지 내용 css */
.msg:disabled{
	background-color: #897c76;
	cursor: inherit;
	border: none;
}

/* 페이징 activa 버튼 */
.page-link.active{
	background-color: #897c76;
	border-color: #897c76;
}

.page-item.active{
	background-color: #897c76;
	border-color: #897c76;
}

/* 헤더 css 모음 */
.header_member{
	text-align: right;
}

/* 헤더 css 모음 */

/* 사이드 css 모음 */
.main_div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #9b021d;
	width: 100%;
	height: 100%;
	margin: 0;
}

.menu_image_wrap{
	display: flex;
	justify-content: center;
	height:12vh;
	z-index: 999;
	border-bottom: 1px solid #54000f;
	box-shadow: 0 2px 4px #54000f;
}

.menu_wrap{
	flex-grow: 1;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu_image_wrap > img{
	vertical-align: middle;
}

.menu_name_div{
	padding: 0;
}

.submenu_div{
	flex-grow: 1;
}

.main_div ul {
	width: 100%;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}

.main_div li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5vh;
	margin: 0 auto;
	text-align: center;
}

.menu_ul{
}

.menu_ul .active {
	background-color: #870119;
}

.subMenu_ul{
	background-color: #870119;
}

.main_div li > a {
	color: white;
	font-weight: bold;
}
/* 사이드 css 모음 */


