@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


*{
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
	text-decoration: none;
	color: black;
}

body{
	width: 100%;
}

.container{
	width: 100%;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.mainContainer{
	width: 100%;
}
