@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


*{
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
	text-decoration: none;
	color: black;
}

body{
	width: 100%;
}

.container{
	width: 100%;
	max-width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.mainContainer{
	width: 100%;
}

.btn-primary{
	background-color: #897c76;
	color: white;	
	border-color: #897c76;
}

.btn-primary:hover{
	background-color: #554d4a;
}

/* 인풋태그 */
input[type="text"]
, input[type="password"]
, input[type="date"]
, select
{
	height: 35px;
	border-radius: 5px;
	padding: 0px 5px;
	box-shadow: 0 2px 4px #897c76;
}

/* 인풋태그 */
input[type="text"]:focus
, input[type="password"]:focus
, input[type="date"]:focus
, select:focus
{
	 outline: none; /* 포커스 스타일 제거 */
}
