<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/content/stu/stu_myInfo/changePwd.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 20px; color: red; font-weight: bold; margin: 10px;" >🧑‍🎓학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red; " class="default_info">
		<tr th:each="member : ${memberVO}">
			<td>학번</td>
			<td><input type="text" readonly th:value="${member.memNo}"> </td>
			<td>성명</td>
			<td><input type="text" readonly th:value="${session.memberVO.memName}"></td>
			<td>학년</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuYear}">
			</td>
			<td>학적상태</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuStatus}" ></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
<th:block th:each="processStatus : ${deptManageVO}">
	<tr >
		<td><input type="hidden" th:value="${processStatus.processStatus}" class="processStatus"></td>
		<td><input type="hidden" th:value="${processStatus.colleageVO.collName}" class="doubleCollName"></td>
		<td><input type="hidden" th:value="${processStatus.deptVO.deptName}" class="doubleDeptName"></td>
	</tr>
</th:block>

<th:block th:each="member : ${memberVO}">
	
	<button th:onclick="plus([[${member.memNo}]], [[${member.memName}]], [[${member.stuVO.stuYear}]] , [[${member.stuVO.stuStatus}]] , [[${memberVO.colleageVO.collName}]] , [[${memberVO.deptVO.deptName}]]  );" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</th:block>
</div>
<br>
	<th:block th:each="member : ${memberVO}" >
		 <h2>비밀번호 변경</h2>
		    <table class="detail_info">
		    	<tr>
		        	<td>현재 비밀번호:</td>
		       		<td><input type="password" class="currentPassword"></td>
				</tr>
				<tr>
		        	<td>새로운 비밀번호:</td>
		        	<td><input type="password" class="newPassword"></td>
				</tr>
				<tr>
		        	<td>비밀번호 확인:</td>
		       		<td><input type="password" class="confirmPassword" ></td>
				</tr>
		        <tr>
		        	<td colspan="2" class="lastTd">
		        		<button type="button" class="btn btn-primary" th:onclick="changePassword([[${member.memPw}]],[[${member.memNo}]])">비밀번호 변경</button>
		        	</td>
		        </tr>
		    </table>
	</th:block>
</th:block>

<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/stu/stu_myInfo/changePwd.js"></script>
</th:block>

</html>