<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/info_layout}">

<th:block layout:fragment="content_css">
   <link rel="stylesheet" href="/css/content/stu/stu_myInfo/infoManage.css">
</th:block>

<th:block layout:fragment="content">
<div style="font-size: 20px; color: red; font-weight: bold; margin: 10px;" >🧑‍🎓학생기본정보</div>
<div class="tableAdd">
	<table border="3" style="border-color: red; " class="default_info">
		<tr th:each="member : ${memberVO}">
			<td>학번</td>
			<td><input type="text" readonly th:value="${member.memNo}"> </td>
			<td>성명</td>
			<td><input type="text" readonly th:value="${member.memName}"></td>
			<td>학년</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuYear}">
			</td>
			<td>학적상태</td>
			<td><input type="text" readonly th:value="${member.stuVO.stuStatus}" ></td>
		</tr>
	</table>
</div>
<div style="text-align: center;">
<th:block th:each="processStatus : ${deptManageVO}">
	<tr >
		<td><input type="hidden" th:value="${processStatus.processStatus}" class="processStatus"></td>
		<td><input type="hidden" th:value="${processStatus.colleageVO.collName}" class="doubleCollName"></td>
		<td><input type="hidden" th:value="${processStatus.deptVO.deptName}" class="doubleDeptName"></td>
	</tr>
</th:block>

<th:block th:each="member : ${memberVO}">
	
	<button th:onclick="plus([[${member.memNo}]], [[${member.memName}]], [[${member.stuVO.stuYear}]] , [[${member.stuVO.stuStatus}]] , [[${memberVO.colleageVO.collName}]] , [[${memberVO.deptVO.deptName}]]  );" class="plus" style="width: 40px; height:30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;
		font-size: 20px; font-weight: bold; border-color: red;  color: white; background-color: red;">
		+
	</button>
</th:block>
</div>
<div>
<th:block th:each="memberData : ${memberData}">
[[${memberData.stuVO.memNo}]]
</th:block>

</div>
<div  style="font-size: 20px; font-weight: bold;" > 개인정보 변경</div>
<form th:action="@{/stuMenu/updateMynfo}" method="post" enctype="multipart/form-data">
<table class="detail_info" th:each="member : ${memberVO}">
		<tr style="text-align: center;">
			<td>
				<img th:src="${'/image/memImg/' + member.memImgVO.attachedFileName}" height="90px;">	    
			</td>
			
		</tr>
		<tr>
			<td>
				<input type="file" class="form-control" name="mainImg" required style="width: 250px;">
			</td>
		</tr>
	</table>
<table class="detail_info" th:each="member : ${memberVO}">
	
	
	<tr>
		<td>개명 후 성명</td>
		<td><input type="text"></td>
		<td><input type="button" value="신청 접수" class="btn btn-danger" onclick="nameChange();"></td>
		<td></td>
	</tr>
	<tr>
		<td>성명(영문명)</td>
		<td><input type="text" th:value="${memberVO.engName}" name="engName"></td>
		<td></td>
	</tr>
	<tr>
		<td>본인 E-mail</td>
		<td><input type="text" th:value="${memberVO.memEmail}" name="memEmail"></td>
		<td></td>
	</tr>

	<tr>
		<td>휴대폰</td>
		<td><input type="text" th:value="${memberVO.memTell}" name="memTell" ></td>
		<td>ex) 010-1234-5678</td>
	</tr>	
</table>

	<table class="detail_info" th:each="member : ${memberVO}">	
		<tr>
			<td>보호자명</td>
			<td><input type="text" th:value="${member.stuVO.parentName}" name="parentName"></td>
			<td></td>
		</tr>
		<tr>
			<td>보호자 연락처</td>
			<td><input type="text" th:value="${member.stuVO.parentTell}" name="parentTell"></td>
			<td></td>
		</tr>
		<tr>
			<td>우편번호</td>
			<td><input type="text" readonly style="background-color: #D3D3D3;" th:value="${member.memAddr}" id="memAddr" name="memAddr"></td>
			<td><input type="button" value="우편번호 검색" class="btn btn-danger" onclick="searchAddr();"></td>
		</tr>
		<tr>
			<td >주소</td>
			<td colspan="2"><input type="text" placeholder="상세 주소를 입력해주세요." style="width: 250px;" th:value="${member.memAddrDetail}" name="memAddrDetail"></td>

		</tr>
		<tr>
			<td>계좌은행</td>
			<td><input type="text" th:value="${member.stuVO.stuBankName}" name="stuBankName"></td>
			<td>(축협, 새마을금고, 수협 제외)</td>
			<td>계좌번호</td>
			<td><input type="text" th:value="${member.stuVO.stuBankAccount}" name="stuBankAccount"></td>
			<td>(반드시 본인 계좌번호 기재)</td>
		</tr>
		<tr><td>
			<th:block>
			<input type="hidden" name="menuCode" th:value="${memberSubMenuVO.menuCode}">
			</th:block>
			<input type="hidden" name="stuNo" th:value="${member.stuVO.stuNo}">
			<input type="hidden" name="deptNo" th:value="${member.stuVO.deptNo}">
			 <input type="hidden" name="collNo" th:value="${member.stuVO.collNo}">
			<input type="hidden" name="doubleNo" th:value="${member.stuVO.doubleNo}">
			<input type="hidden" name="stuYear" th:value="${member.stuVO.stuYear}">
			<input type="hidden" name="stuSem" th:value="${member.stuVO.stuSem}">
			<input type="hidden" name="stuStatus" th:value="${member.stuVO.stuStatus}">
			<input type="hidden" name="memNo" th:value="${member.stuVO.memNo}">
		</td></tr>
	</table>
		<div class="save" style="text-align: center;">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-plus" viewBox="0 0 16 16">
			  <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
			  <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
			  <path d="M8.5 6.5a.5.5 0 0 0-1 0V8H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V9H10a.5.5 0 0 0 0-1H8.5V6.5Z"/>
			</svg>
			<input type="submit"  value="저장" style="border-color: #ffffff;">
	</div>
	<div><span style="padding: 20px; margin:5px; text-align: center; background-color: #D3D3D3; display: flex; font-size: 12px;" >
		* 필히 학생본인 계좌번호와 은행명을 기재 바라며, 계좌번호 입력 오류로 인한 모든 문제에 대한 책임은 학생본인에게 있으니 정확하게 기재하여 주시기 부탁드립니다.
	</span></div>

</form>
</th:block>

<!-- <script src="/"></script> -->

<th:block layout:fragment="content_js">
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="/js/content/stu/stu_myInfo/infoManage.js"></script>
</th:block>

</html>