@charset "UTF-8";


.firstTable{
	width: 500px;
	border: 7px;

	border-color: black;
	height: 350px;
}

.name{
	vertical-align: bottom;
}

.icon{
	font-size: 15px;
	font-weight: bold;
	margin: 30px;
	text-align: center;
}

.status{
	vertical-align: top;
	text-align: center;
}

.mainImg{
	margin-top: 60px;
	width: 500px;
	 height: 200px; 
}

.semName{
	text-align: center;
	font-size: 20px;
}

.main2{
	margin: 30px;
}

.course{
	color: white;
	width: 300px;
  background-color:  #e11e1e;
  padding: 0.5rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  border-radius: 20px;
}

.myLecture{
	margin: 10px;
}

.fc-event{
	margin-top: 5px;
	cursor: move;
	text-align: center;
}
