<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}"
   >

<!-- 연결해야 할 외부 css 파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="">
</th:block>	

<th:block layout:fragment="content">
<form action="/admin/insertStu" method="post">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<h4>학생정보등록</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table align-middle">
						<colgroup>
							<col width="20%">
							<col width="*">
						</colgroup>
						<tr>
							<td>학생번호</td>
							<td>
								<input type="text" name="stuNo" class="form-control" readonly th:value="${schoolMap.memNo}">
							</td>
						</tr>
						<tr>
							<td>단과대학</td>
							<td>
								<select name="collNo" class="form-select">
									<th:block th:each="coll : ${schoolMap.collList}">
										<option th:value="${coll.collNo}">[[${coll.collName}]]</option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<td>학과</td>
							<td>
								<select name="deptNo" class="form-select">
									<th:block th:each="dept:${schoolMap.deptList}">
										<option th:value="${dept.deptNo}">[[${dept.deptName}]]</option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<td>복수전공</td>
							<td>
								<select name="doubleNo" class="form-select">
									<option selected>없음</option>
									<th:block th:each="double:${schoolMap.doubleMajorList}">
										<option th:value="${double.doubleNo}">[[${double.doubleColl}]]</option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<td>학년</td>
							<td>
								<select name="stuYear" class="form-select">
									<option value="1">1학년</option>
									<option value="2">2학년</option>
									<option value="3">3학년</option>
									<option value="4">4학년</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>학기</td>
							<td>
								<select name="stuSem" class="form-select">
									<option value="1">1학기</option>
									<option value="2">2학기</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>상태</td>
							<td>
								<select name="stuStatus" class="form-select">
									<option value="재학">재학</option>
									<option value="휴학">휴학</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>회원번호</td>
							<td>
								<input type="text" name="memNo" class="form-control" readonly th:value="${schoolMap.memNo}">
							</td>
						</tr>
						<tr>
							<td>보호자 성함</td>
							<td>
								<input type="text" name="parentName" class="form-control">
							</td>
						</tr>
						<tr>
							<td>보호자 연락처</td>
							<td>
								<input type="text" name="parentTell" class="form-control">
							</td>
						</tr>
						<tr>
							<td>학생계좌은행</td>
							<td>
								<input type="text" name="stuBankName" class="form-control">
							</td>
						</tr>
						<tr>
							<td>학생계좌번호</td>
							<td>
								<input type="text" name="stuBankAccount" class="form-control">
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col d-grid">
					<input type="submit" value="등록" class="btn btn-primary">
				</div>
			</div>
		</div>
	</div>
</form>
</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src=""></script>
</th:block>	

</html>