<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}"
   >

<!-- 연결해야 할 외부 css 파일  -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/update_stu_info.css">
</th:block>	

<th:block layout:fragment="content">
	<div class="row">
		<div class="col-10">
			<div class="row mb-3">
				<div class="col-12">
					<h4>1.휴학신청 접수현황</h4>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12">
					<table class="table align-middle">
						<colgroup>
							<col width="7%">
							<col width="17%">
							<col width="17%">
							<col width="7%">
							<col width="12%">
							<col width="12%">
							<col width="12%">
							<col width="*">
						</colgroup>
						<tr>
							<td>신청일</td>
							<td>
								<input type="date" class="form-control monthDate">
							</td>
							<td>
								<input type="date" class="form-control nowDate">
							</td>
							<td>처리상태</td>
							<td>
								<input type="radio" class="form-check-input" onclick="selectByStatus('');" value="" name="status-1" checked>전체
							</td>
							<td>
								<input type="radio" class="form-check-input" onclick="selectByStatus('승인대기');" value="승인대기" name="status-1">승인대기							
							</td>
							<td>
								<input type="radio" class="form-check-input" onclick="selectByStatus('승인완료');" value="승인완료" name="status-1">승인완료
							</td>
							<td class="d-grid">
								<input type="button" class="btn btn-primary" onclick="selectByDateStatusInfo();" value="search">
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<span class="ps-span"> ★ 학생의 학번을 클릭하면 학생정보창이 열립니다.</span>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<table class="table align-middle">
						<thead>
							<tr>
								<td>
									<input type="checkbox" checked id="allChk" onclick="allCheckControll(this);" class="form-check-input">
								</td>
								<td>No</td>
								<td>이 름</td>
								<td>학 번</td>
								<td>학 년</td>
								<td>전공대학</td>
								<td>전공학과</td>
								<td>신청일</td>
								<td>승인여부</td>
							</tr>
						</thead>
						<tbody id="leaveTbody">
							<th:block th:each="leave,state :${leaveManageList}">
								<tr>
									<td>
										<input type="checkbox" checked th:onclick="checkControll();" th:value="${leave.statusNo}" th:data-ing-status="${leave.ingStatus}" th:data-stu-no="${leave.stuVO.stuNo}" class="form-check-input checkboxes">
									</td>
									<td>[[${#lists.size(leaveManageList) - state.index}]]</td>
									<td>[[${leave.memberVO.memName}]]</td>
									<td><a href="javascript:void(0)"  th:onclick="stateModalOpen([[${leave.statusNo}]],[[${leave.stuVO.stuNo}]],[[${leave.afterStatus}]]);">[[${leave.stuVO.stuNo}]]</a></td>
									<td>[[${leave.stuVO.stuYear}]]학년 &nbsp; [[${leave.stuVO.stuSem}]]학기</td>
									<td>[[${leave.colleageVO.collName}]]</td>
									<td>[[${leave.deptVO.deptName}]]</td>
									<td>[[${leave.applyDate}]]</td>
									<td>
										<th:block th:if="${leave.ingStatus == '승인대기'}">
											<input type="radio" class="form-check-input" checked th:id="waitRadio+${state.index}" th:name="status+${state.index}">승인대기
											<input type="radio" class="form-check-input" th:id="confirmRadio+${state.index}" th:onclick="changeStatus([[${leave.statusNo}]],[[${leave.stuVO.stuNo}]],[[${state.index}]]);" th:name="status+${state.index}">승인완료
										</th:block>
										<th:block th:unless="${leave.ingStatus == '승인대기'}">
											<input type="radio" class="form-check-input" id="waitRadio" onclick="event.preventDefault();" th:name="status+${state.index}">승인대기
											<input type="radio" class="form-check-input" checked id="confirmRadio" onclick="event.preventDefault();" th:name="status+${state.index}">승인완료
										</th:block>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row text-center mb-5">
				<div class="col">
					<input type="button" onclick="checkedAcceptByStatus();" class="btn btn-primary" value="일괄승인">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<h4>2.복학신청 접수현황</h4>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<table class="table align-middle">
						<colgroup>
							<col width="7%">
							<col width="17%">
							<col width="17%">
							<col width="7%">
							<col width="12%">
							<col width="12%">
							<col width="12%">
							<col width="*">
						</colgroup>
						<tr>
							<td>신청일</td>
							<td>
								<input type="date" class="form-control rollMonthDate">
							</td>
							<td>
								<input type="date" class="form-control rollNowDate">
							</td>
							<td>처리상태</td>
							<td>
								<input type="radio" class="form-check-input" onclick="selectByStatusRoll('');" value="" name="status-3" checked>전체
							</td>
							<td>
								<input type="radio" class="form-check-input" onclick="selectByStatusRoll('승인대기');" value="승인대기" name="status-3">승인대기							
							</td>
							<td>
								<input type="radio" class="form-check-input" onclick="selectByStatusRoll('승인완료');" value="승인완료" name="status-3">승인완료
							</td>
							<td class="d-grid">
								<input type="button" class="btn btn-primary" onclick="selectByDateStatusRollInfo();" value="search">
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<span class="ps-span"> ★ 학생의 학번을 클릭하면 학생정보창이 열립니다.</span>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col">
					<table class="table align-middle">
						<thead>
							<tr>
								<td>
									<input type="checkbox" checked id="allChkRoll" onclick="allCheckRollControll(this);" class="form-check-input">
								</td>
								<td>No</td>
								<td>이 름</td>
								<td>학 번</td>
								<td>학 년</td>
								<td>전공대학</td>
								<td>전공학과</td>
								<td>신청일</td>
								<td>승인여부</td>
							</tr>
						</thead>
						<tbody id="rollTbody">
							<th:block th:each="rollBack, rollState:${rollBackManageList}">
								<tr>
									<td>
										<input type="checkbox" checked th:onclick="checkControll();" th:value="${rollBack.statusNo}" th:data-ing-status="${rollBack.ingStatus}" th:data-stu-no="${rollBack.stuVO.stuNo}" class="form-check-input rollCheckboxes">
									</td>
									<td>[[${#lists.size(rollBackManageList) - rollState.index}]]</td>
									<td>[[${rollBack.memberVO.memName}]]</td>
									<td><a href="javascript:void(0)"  th:onclick="stateModalOpen([[${rollBack.statusNo}]],[[${rollBack.stuVO.stuNo}]],[[${rollBack.afterStatus}]]);">[[${rollBack.stuVO.stuNo}]]</a></td>
									<td>[[${rollBack.stuVO.stuYear}]]학년 &nbsp; [[${rollBack.stuVO.stuSem}]]학기</td>
									<td>[[${rollBack.colleageVO.collName}]]</td>
									<td>[[${rollBack.deptVO.deptName}]]</td>
									<td>[[${rollBack.applyDate}]]</td>
									<td>
										<th:block th:if="${rollBack.ingStatus == '승인대기'}">
											<input type="radio" class="form-check-input" checked th:id="rollWaitRadio+${rollState.index}" th:name="rollState+${rollState.index}">승인대기
											<input type="radio" class="form-check-input" th:id="rollConfirmRadio+${rollState.index}" th:onclick="changeStatusRoll([[${rollBack.statusNo}]],[[${rollBack.stuVO.stuNo}]], [[${rollState.index}]]);" th:name="rollState+${rollState.index}">승인완료
										</th:block>
										<th:block th:unless="${rollBack.ingStatus == '승인대기'}">
											<input type="radio" class="form-check-input" id="rollWaitRadio" onclick="event.preventDefault();" th:name="rollState+${rollState.index}">승인대기
											<input type="radio" class="form-check-input" checked id="rollConfirmRadio" onclick="event.preventDefault();" th:name="rollState+${rollState.index}">승인완료
										</th:block>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row text-center mb-5">
				<div class="col">
					<input type="button" onclick="checkedAcceptByStatusRoll();" class="btn btn-primary" value="일괄승인">
				</div>
			</div>
		</div>
	</div>
<!-- 휴학 신청 모달  -->	
<div class="modal fade" id="stateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">휴학신청 학생정보</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-10">
				<table class="table">
					<colgroup>
						<col width="10%">
						<col width="40%">
						<col width="10%">
						<col width="40%">
					</colgroup>
					<tr>
						<td>이름</td>
						<td id="memInfo"></td>
						<td>생년월일</td>
						<td id="memBirth"></td>
					</tr>
					<tr>
						<td>학년</td>
						<td id="memYear"></td>
						<td>전공대학</td>
						<td id="memColl"></td>
					</tr>
					<tr>
						<td>전공학과</td>
						<td id="memDept"></td>
						<td>복수전공</td>
						<td id="memDouble"></td>
					</tr>
					<tr>
						<td colspan="1">휴학 사유</td>
						<td colspan="3" id="statusReason"></td>
					</tr>
				</table>
			</div>
			<div class="col-2">
				<img id="memImg" src="" width="100%">
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	
</th:block>

<!-- 연결해야 할 외부 js 파일 -->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/update_stu_info.js"></script>
</th:block>	

</html>